<style>
    th.dt-type-numeric.dt-orderable-asc.dt-orderable-desc {
        text-align: center;
    }
</style>

{{> header}}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;padding: 0;">
                <button onclick="handleAddCheck()" class="btn btn-success" data-toggle="modal"
                    data-target="#exampleModal">Thêm
                    mới</button>
                {{> modalScoreCommittee}}
                {{> modalListEmployee}}
            </ul>
        </div>
    </div>

    <div class="row" style="display: contents;">
        <div class="col-lg-6" style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <div class="table_header">
                        <span class="d-inline-block mb-3" tabindex="0" data-toggle="tooltip" title="Thùng rác của bạn">
                            <a href="/scoreCommittee/trashPage">
                                <ion-icon name="trash-outline">
                                </ion-icon>
                            </a>
                        </span>
                    </div>
                    <table id="myTableCommittee" class="table table-hover" style="font-size: 13px;">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Thời gian</th>
                                <th>Mặc định</th>
                                <th>Áp dụng</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ScoreCommittee}}
                            <tr>
                                <th>{{plus @index}}</th>
                                <td>
                                    <div class="" style="display: flex;flex-direction: column;">
                                        <p style="color: rgb(236, 236, 118); font-size: 14px;font-weight: 600;">
                                            {{this.Name}}</p>
                                        <p style="color: #ccc; font-weight: 550;">Chủ tịch HĐ:
                                            {{#if employee_name}}
                                            {{employee_name}}
                                            {{else}}
                                            Không có
                                            {{/if}}
                                        </p>
                                    </div>
                                </td>
                                <td>{{year_name}}</td>
                                <td>
                                    {{#ifCond this.IsDefault 1}}
                                    <div class="active"></div>
                                    {{else}}
                                    <div class="inactive"></div>
                                    {{/ifCond}}
                                </td>
                                <td style="max-width: 40px;">
                                    {{#ifCond this.IsActive 1}}
                                    <div class="active"></div>
                                    {{else}}
                                    <div class="inactive"></div>
                                    {{/ifCond}}
                                </td>
                                <td>
                                    <div class="icons">
                                        <button onclick="handleUpdateIsDefault('{{this._id}}')" class="d-inline-block"
                                            style="background: transparent;border: none;" tabindex="0"
                                            data-toggle="tooltip" title="Bắt đầu chấm">
                                            <ion-icon name="newspaper-outline" style="cursor: pointer;"></ion-icon>
                                        </button>
                                        {{!-- nhan vao nut handleUpadte de hien thi scoreCommitteeDetail --}}
                                        <button type="button" style="background: transparent; border: none;"
                                            onclick="handleGetOneScoreCommittee('{{this._id}}')" class="d-inline-block"
                                            tabindex="0" data-toggle="tooltip" title="Chỉnh sửa">
                                            <ion-icon name="create-outline" data-toggle="modal"
                                                data-target="#ModalUpdateScoreCommittee{{this._id}}"></ion-icon>
                                        </button>
                                        {{!-- modal update scoreCommittee --}}
                                        {{> modalScoreCommittee id=this._id YearReview=../YearReview
                                        Employee=../Employee
                                        WorkDepartment=../WorkDepartment WorkPosition=../WorkPosition}}

                                        {{!-- end modal update scoreCommittee --}}
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Xóa">
                                            <ion-icon id="icon_moveToTrash" name="trash-outline"
                                                data-id="{{this._id}}"></ion-icon>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div><!--End Row-->
    </div>
</div><!--End content-wrapper-->
{{> footer}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/ScoreCommitteeUpdate.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toastData = localStorage.getItem('toast');
        if (toastData) {
            const toast = JSON.parse(toastData);
            $.toast(toast);
            localStorage.removeItem('toast');
        }
        const btnTrash = document.querySelectorAll('#icon_moveToTrash');
        for (let btn of btnTrash) {
            btn.addEventListener("click", (event) => {
                event.preventDefault();
                $.confirm({
                    title: '<ion-icon name="trash-bin-outline"></ion-icon>',
                    content: 'Bạn có chắc chắn muốn xóa ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-red',
                            action: function () {
                                // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                                const id = event.target.dataset.id;

                                // Gọi API xóa mục
                                fetch(`/scoreCommittee/removeTrash/${id}`, {
                                    method: 'PATCH'
                                }).then(response => {
                                    if (response.ok) {
                                        localStorage.setItem('toast', JSON.stringify({
                                            position: "top-right",
                                            heading: 'SUCCESS',
                                            text: 'Đã xóa thành công thành công',
                                            icon: 'success',
                                            loader: true,
                                            loaderBg: '#9EC600',
                                            showHideTransition: 'slide',
                                            stack: 4
                                        }));
                                        window.location.reload()
                                    } else {
                                        alert('Có lỗi xảy ra khi xóa mục');
                                    }
                                }).catch(error => {
                                    $.alert('Đã hủy');
                                });
                            }
                        },
                        cancel: function () {
                            $.alert('Đã hủy!');
                        }
                    }
                });
            });
        }
    })
</script>
{{!-- kiem tra trang thai mmodal ModalUpdateScoreCommittee --}}
<script>
    const handleAddCheck = () => {
        const tbody = document.querySelector(".tbodyUpdate")
        if (tbody) {
            tbody.innerHTML = ""
        }
    }
</script>