{{> header}}

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row" style="max-width: 100%; display: contents;">
      <ul class="search-customer"
        style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
        <button class="btn btn-danger btnDeleteAll btnDisabled" style="float: left;">Xóa mục đã chọn</button>
        <div class="import_customer_button"
          style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
          <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Thêm mới</button>
        </div>
        {{> modalCustomer}}
      </ul>
    </div>
    <!-- End container-fluid-->
  </div>
  <div class="row" style="display: contents;">
    <div class="col-lg-6" style="max-width: 100%;">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items">
            <h5 class="card-title">Danh sách chủ thể</h5>
            <span class="d-inline-block ml-3" tabindex="0" data-toggle="tooltip" title="Thùng rác của bạn">
              <a href="/customer-manage/trash">
                <ion-icon name="trash-outline">
                </ion-icon>
              </a>
            </span>
          </div>
          <div class="table-responsive">
            <table id="myTable" class="table table-hover">
              <thead>
                <tr>
                  <th {{#ifCond data.length 0}}hidden{{/ifCond}}>
                    <div class="checkbox">
                      <input type="checkbox" class="check" id="checkAll">
                    </div>
                  </th>
                  <th scope="col" hidden>#</th>
                  <th scope="col">Chủ thể</th>
                  <th scope="col">Điện thoại</th>
                  <th scope="col">Địa chỉ</th>
                  <th scope="col">Hành động</th>
                </tr>
              </thead>
              <tbody>
                {{#each viewData.data}}
                <tr>
                  <td>
                    <div class="">
                      <div class="checkbox">
                        <input type="checkbox" class="check" data-idCheckBox="{{this._id}}">
                      </div>
                    </div>
                  </td>
                  <td hidden>{{@index}}</td>
                  <td style="max-width: 200px;">
                    <p style="text-wrap: wrap;font-size: 14px;">{{this.Name}}</p>
                  </td>
                  <td>{{this.Phone}}</td>
                  <td>
                    <p style="text-wrap: wrap;">Tỉnh {{this.city_name}} , {{this.district_name}} , {{this.ward_name}}
                    </p>
                  </td>
                  <td style="display: flex;">
                    <div class="action_center">
                      <button style="background-color: transparent;border: none ;cursor: pointer;">
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Chỉnh sửa">
                          <ion-icon name="create-outline" data-toggle="modal"
                            data-target="#exampleModal{{this._id}}"></ion-icon>
                        </span>
                      </button>
                    </div>

                    <div class="delete_action">
                      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Xóa">
                        <ion-icon id="icon_moveToTrash" name="trash-outline" data-id="{{this._id}}">
                        </ion-icon>
                      </span>
                    </div>
                  </td>

                </tr>
                {{!-- modal --}}
                <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" style="width: 800px;">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm chủ thể</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="form-row">
                            {{!-- Code --}}
                            <div class="col-md-2 mb-3">
                              <label for="Code">Code</label>
                              <input value="{{this.Code}}" name="Code" type="text" class="form-control"
                                id="Code{{this._id}}" required>
                            </div>
                            {{!-- Name --}}
                            <div class="col-md-6 mb-3">
                              <label for="Name">Tên chủ thể</label>
                              <input value="{{this.Name}}" name="Name" type="text" class="form-control"
                                id="Name{{this._id}}" required>
                            </div>
                            {{!-- status --}}
                            <div class="col-md-4 mb-3">
                              <label for="SubName">Người đại diện</label>
                              <input value="{{this.SubName}}" name="SubName" type="text" class="form-control"
                                id="SubName{{this._id}}" required>
                            </div>
                            {{!-- code --}}
                            <div class="col-md-6 mb-3">
                              <label for="Phone">Số điện thoại</label>
                              <input value="{{this.Phone}}" name="Phone" type="text" class="form-control"
                                id="Phone{{this._id}}" required>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="Email">Email</label>
                              <input value="{{this.Email}}" name="Email" type="email" class="form-control"
                                id="Email{{this._id}}" required>
                            </div>
                            <div class="col-md-4 mb-3">
                              <label for="customer_email">Tỉnh/Thành phố</label>
                              <select name="City_id" id="City_id{{this._id}}" class="form-control">
                                <option value="" selected>--</option>
                                {{#each ../Province}}
                                <option value="{{this._id}}" {{#ifCond ../this.City_id this._id}}selected{{/ifCond}}>
                                  {{this.Name}}
                                </option>
                                {{/each}}
                              </select>
                            </div>
                            <div class="col-md-4 mb-3">
                              <label for="customer_email">Quận / Huyện</label>
                              <select name="District_id" id="District_id{{this._id}}" class="form-control">
                                <option value="" selected>--</option>
                                {{#each ../District}}
                                <option value="{{this._id}}" {{#ifCond ../this.District_id
                                  this._id}}selected{{/ifCond}}>{{this.Name}}
                                </option>
                                {{/each}}
                              </select>
                            </div>
                            <div class="col-md-4 mb-3">
                              <label for="customer_email">Xã / Phường</label>
                              <select name="Ward_id" id="Ward_id{{this._id}}" class="form-control">
                                <option value="" selected>--</option>
                                {{#each ../Ward}}
                                <option value="{{this._id}}" {{#ifCond ../this.Ward_id this._id}}selected{{/ifCond}}>
                                  {{this.Name}}
                                </option>
                                </option>
                                {{/each}}
                              </select>
                            </div>
                            <div class="col-md-12 mb-3">
                              <label for="Address">Address</label>
                              <input value="{{this.Address}}" name="Address" type="text" class="form-control"
                                id="Address{{this._id}}" required>
                            </div>
                        </form>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button onclick="handleUpdate('{{this._id}}')" class="btn btn-warning">Câp nhật chủ
                            thể</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{!-- end modal --}}
                {{else}}
                <tr>
                  <td colspan="9" class="text-center">Không tìm thấy từ khoá nào</td>
                </tr>
                {{/each }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!--End Row-->
  </div>
  {{> footer}}


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
    // checkbox All
    $("#checkAll").click(function (e) {
      $(".check").prop('checked', $(this).prop('checked'));
    });
  </script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

  {{!-- action delete --}}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const toastData = localStorage.getItem('toast');
      if (toastData) {
        const toast = JSON.parse(toastData);
        $.toast(toast);
        localStorage.removeItem('toast');
      }
      const btnTrash = document.querySelectorAll("#icon_moveToTrash");
      //remove One
      for (let btn of btnTrash) {
        btn.addEventListener("click", (event) => {
          $.confirm({
            title: '<ion-icon name="trash-bin-outline"></ion-icon>',
            content: 'Bạn có chắc chắn muốn xóa ?',
            buttons: {
              confirm: {
                text: 'Confirm',
                btnClass: 'btn-red',
                action: function () {
                  // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                  const id = event.target.dataset.id;

                  // Gọi API xóa mục
                  fetch(`/customer-manage/${id}`, {
                    method: 'DELETE'
                  }).then(response => {
                    if (response.ok) {
                      localStorage.setItem('toast', JSON.stringify({
                        position: "top-right",
                        heading: 'Xóa thành công',
                        text: 'Đã xóa thành công thành công',
                        icon: 'success',
                        loader: true,
                        showHideTransition: 'slide',
                        loaderBg: '#9EC600',
                        stack: 4
                      }));
                      window.location.reload()
                    } else {
                      alert('Có lỗi xảy ra khi xóa mục');
                    }
                  }).catch(error => {
                    $.alert('Đã hủy');
                  });
                }
              },
              cancel: function () {
                $.alert('Đã hủy!');
              }
            }
          });
        })
      }
      const btnsCheck = document.querySelectorAll(".check")
      const btnDeleteAll = document.querySelector(".btnDeleteAll")
      const btnDisabled = document.querySelector(".btnDisabled")
      //Chưa checked thì disbale nút xóa all
      let count = 0
      const checkBtnDisabled = () => {
        if (count === 0) {
          btnDisabled.setAttribute("disabled", true)
        } else {
          btnDisabled.removeAttribute("disabled")
        }
      }
      for (let checked of btnsCheck) {
        checkBtnDisabled()
        checked.addEventListener("click", (e) => {
          if (checked.checked) {
            count++
          } else {
            count--
          }
          checkBtnDisabled()
        })
      }
      //removeAll
      btnDeleteAll.addEventListener("click", async (e) => {
        $.confirm({
          title: '<ion-icon name="trash-bin-outline"></ion-icon>',
          content: 'Xác nhận xóa những đối tượng bạn đã chọn ?',
          buttons: {
            confirm: {
              text: 'Confirm',
              btnClass: 'btn-red',
              action: function () {
                for (let btnCheck of btnsCheck) {
                  if (btnCheck.checked) {
                    const id = btnCheck.dataset.idcheckbox
                    fetch(`/customer-manage/${id}`, {
                      method: 'DELETE'
                    })
                  }
                }
                localStorage.setItem('toast', JSON.stringify({
                  position: "top-right",
                  heading: 'Xóa thành công',
                  text: 'Đã xóa thành công thành công',
                  icon: 'success',
                  loader: true,
                  showHideTransition: 'slide',
                  loaderBg: '#9EC600',
                  stack: 4
                }));
                window.location.reload()
              }
            },
            cancel: function () {
              $.alert('Đã hủy');
            }
          }
        });
      })
    })
  </script>

  {{!-- update actions --}}
  <script>
    async function handleUpdate(id) {
      const Code = document.getElementById(`Code${id}`).value
      const Name = document.getElementById(`Name${id}`).value
      const Address = document.getElementById(`Address${id}`).value
      const SubName = document.getElementById(`SubName${id}`).value
      const Phone = document.getElementById(`Phone${id}`).value
      const Email = document.getElementById(`Email${id}`).value
      const City_id = document.getElementById(`City_id${id}`).value
      const District_id = document.getElementById(`District_id${id}`).value
      const Ward_id = document.getElementById(`Ward_id${id}`).value
      const formData = new FormData()
      formData.append("Code", Code)
      formData.append("Name", Name)
      formData.append("Address", Address)
      formData.append("SubName", SubName)
      formData.append("Phone", Phone)
      formData.append("Email", Email)
      formData.append("City_id", City_id)
      formData.append("District_id", District_id)
      formData.append("Ward_id", Ward_id)
      const res = await fetch(`/customer-manage/${id}/update`, {
        method: "POST",
        body: formData
      })
      if (res.ok) {
        const data = await res.json()
        localStorage.setItem('toast', JSON.stringify({
          position: "top-right",
          heading: 'Cập nhật thành công',
          text: 'Đã cập nhật thành công',
          icon: 'success',
          loader: true,
          loaderBg: '#9EC600',
          stack: 4,
          showHideTransition: 'slide'
        }));
        window.location.replace("/customer-manage")
      } else {
        const data = await res.json()
        $.toast({
          position: "top-right",
          heading: 'Cập nhật thất bại thất bại',
          text: data.message || 'Đã có lỗi xảy ra',
          icon: 'error',
          loader: true,
          loaderBg: '#f2a654',
          showHideTransition: 'slide',
          stack: 4
        });
        console.error("Response was not ok:", res.status);
      }
    }
  </script>