{{> header}}

<div class="content-wrapper">
    <div class="container-fluid">

        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
                <div class="">
                    <button class="btn btn-danger btnDeleteAll btnDisabledDelete">Xóa mục đã chọn</button>
                    <button class="btn btn-info btnRevertAll ml-3 btnDisabledRevert">Khôi phục mục đã
                        chọn</button>
                </div>
            </ul>
        </div>

        <!-- End container-fluid-->
    </div>
    <div class="row" style="display: contents;">
        <div class="col-lg-6" style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items">
                        <span style="cursor: pointer;" class="d-inline-block mr-3" tabindex="0" data-toggle="tooltip"
                            title="Trở về">
                            <a href="/customer-manage">
                                <ion-icon name="arrow-undo-outline"></ion-icon>
                            </a>
                        </span>
                        <h5 class="card-title">Khôi phục chủ thể</h5>
                    </div>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-hover">

                            <thead>
                                <tr>
                                    <th {{#ifCond Customer.length 0}}hidden{{/ifCond}}>
                                        <div class="checkbox-wrapper-42 checkbox">
                                            <input id="checkAll" type="checkbox" class="check" />
                                            <label class="cbx" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col" hidden>#</th>
                                    <th scope="col">Chủ thể</th>
                                    <th scope="col">Điện thoại</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each Customer}}
                                <tr>
                                    <td>
                                        <div class="checkbox-wrapper-42 checkbox">
                                            <input id="cbx-42{{this._id}}" type="checkbox" class="check"
                                                data-idCheckBox="{{this._id}}" />
                                            <label class="cbx" for="cbx-42{{this._id}}"></label>
                                        </div>
                                    </td>
                                    <td hidden>{{@index}}</td>
                                    <td>{{this.Name}}</td>
                                    <td>{{this.Phone}}</td>
                                    <td>Tỉnh {{this.city_name}} , {{this.district_name}} , {{this.ward_name}}</td>
                                    <td style="display: flex;">
                                        <div class="action_center">
                                            <button data-toggle="modal" data-target="#exampleModal{{this._id}}"
                                                style="background-color: transparent;border: none;cursor: pointer;">
                                                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                                    title="Khôi phục">
                                                    <ion-icon name="sync-outline" style="color: white; font-size: 18px;"
                                                        id="icon_revert" data-id="{{this._id}}"></ion-icon>
                                                </span>
                                            </button>
                                        </div>
                                        <div class="delete_action">
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                                title="Xóa vĩnh viễn">
                                                <ion-icon id="icon_moveToTrash" name="trash-outline"
                                                    data-id="{{this._id}}">
                                                </ion-icon>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="9" class="text-center">Không tìm thấy từ khoá nào</td>
                                </tr>
                                {{/each }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--End Row-->
    </div>
    <!--End content-wrapper-->


    {{> footer}}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/helpers/custom.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
        // checkbox All
        $("#checkAll").click(function (e) {
            $(".check").prop('checked', $(this).prop('checked'));
        });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const btnReverts = document.querySelectorAll("#icon_revert")
            const btnTrash = document.querySelectorAll("#icon_moveToTrash");
            //removeOne
            for (let btn of btnTrash) {
                btn.addEventListener("click", (event) => {
                    $.confirm({
                        title: '<ion-icon name="trash-bin-outline"></ion-icon>',
                        content: 'Bạn có chắc chắn muốn xóa ?',
                        buttons: {
                            confirm: {
                                text: 'Confirm',
                                btnClass: 'btn-red',
                                action: function () {
                                    // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                                    const id = event.target.dataset.id;

                                    // Gọi API xóa mục
                                    fetch(`/customer-manage/trash/${id}`, {
                                        method: 'DELETE'
                                    }).then(response => {
                                        if (response.ok) {
                                            localStorage.setItem('toast', JSON.stringify({
                                                position: "top-right",
                                                heading: 'Xóa thành công',
                                                text: 'Đã xóa thành công thành công',
                                                icon: 'success',
                                                loader: true,
                                                loaderBg: '#9EC600',
                                                showHideTransition: 'slide',
                                                stack: 4
                                            }));
                                            window.location.reload()
                                        } else {
                                            alert('Có lỗi xảy ra khi xóa mục');
                                        }
                                    }).catch(error => {
                                        $.alert('Đã hủy');
                                    });
                                }
                            },
                            cancel: function () {
                                $.alert('Đã hủy!');
                            }
                        }
                    });
                })
            }
            //revertOne
            for (let btnRevert of btnReverts) {
                btnRevert.addEventListener("click", async (event) => {
                    $.confirm({
                        title: '<ion-icon name="help-circle-outline"></ion-icon>',
                        content: 'Bạn muốn khôi phục ?',
                        buttons: {
                            confirm: {
                                text: 'Confirm',
                                btnClass: 'btn-blue',
                                action: function () {
                                    // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                                    const id = event.target.dataset.id;

                                    // Gọi API xóa mục
                                    fetch(`/customer-manage/trash/${id}/update`, {
                                        method: 'PATCH'
                                    }).then(response => {
                                        if (response.ok) {
                                            localStorage.setItem('toast', JSON.stringify({
                                                position: "top-right",
                                                heading: 'Khôi phục thành công',
                                                text: 'Đã khôi phục thành công thành công',
                                                icon: 'info',
                                                loader: true,
                                                loaderBg: '#9EC600',
                                                showHideTransition: 'slide'
                                            }));
                                            window.location.reload()
                                        } else {
                                            alert('Có lỗi xảy ra khi xóa mục');
                                        }
                                    }).catch(error => {
                                        $.alert('Đã hủy');
                                    });
                                }
                            },
                            cancel: function () {
                                $.alert('Đã hủy!');
                            }
                        }
                    });
                })
            }

            const btnsCheck = document.querySelectorAll(".check")
            const btnDeleteAll = document.querySelector(".btnDeleteAll")
            const btnDisabledDelete = document.querySelector(".btnDisabledDelete")
            const btnDisabledRevert = document.querySelector(".btnDisabledRevert")
            //Chưa checked thì disbale nút xóa all
            let count = 0
            const checkBtnDisabled = () => {
                if (count === 0) {
                    btnDisabledDelete.setAttribute("disabled", true)
                    btnDisabledRevert.setAttribute("disabled", true)
                } else {
                    btnDisabledDelete.removeAttribute("disabled")
                    btnDisabledRevert.removeAttribute("disabled")
                }
            }
            for (let checked of btnsCheck) {
                checkBtnDisabled()
                checked.addEventListener("click", (e) => {
                    if (checked.checked) {
                        count++
                    } else {
                        count--
                    }
                    checkBtnDisabled()
                })
            }
            //removeAll
            btnDeleteAll.addEventListener("click", async (e) => {
                $.confirm({
                    title: '<ion-icon name="trash-bin-outline"></ion-icon>',
                    content: 'Bạn muốn xóa mục đã chọn ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-red',
                            action: async function () {
                                const id = event.target.dataset.id;
                                for (let btnCheck of btnsCheck) {
                                    if (btnCheck.checked) {
                                        const id = btnCheck.dataset.idcheckbox
                                        const res = await fetch(`/customer-manage/trash/${id}`, {
                                            method: "DELETE"
                                        })
                                    }
                                }
                                localStorage.setItem('toast', JSON.stringify({
                                    position: "top-right",
                                    heading: 'Xóa thành công',
                                    text: 'Đã xóa thành công thành công',
                                    icon: 'success',
                                    loader: true,
                                    loaderBg: '#9EC600',
                                    showHideTransition: 'slide'
                                }));
                                window.location.reload()
                            }
                        }
                    },
                    cancel: function () {
                        $.alert('Đã hủy!');
                    }
                })
            })
            //RevertByCheckBox
            const btnRevertAll = document.querySelector(".btnRevertAll")
            btnRevertAll.addEventListener("click", async (e) => {
                $.confirm({
                    title: '<ion-icon name="help-circle-outline"></ion-icon>',
                    content: 'Bạn muốn khôi phục mục đã chọn ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-blue',
                            action: async function () {
                                const id = event.target.dataset.id;
                                for (let btnCheck of btnsCheck) {
                                    if (btnCheck.checked) {
                                        const id = btnCheck.dataset.idcheckbox
                                        const res = await fetch(`/customer-manage/trash/${id}/update`, {
                                            method: "PATCH"
                                        })
                                    }
                                }
                                localStorage.setItem('toast', JSON.stringify({
                                    position: "top-right",
                                    heading: 'Khôi phục thành công',
                                    text: 'Đã khôi phục thành công thành công',
                                    icon: 'info',
                                    loader: true,
                                    loaderBg: '#9EC600',
                                    showHideTransition: 'slide',
                                }))
                                window.location.reload()
                            }
                        },
                        cancel: function () {
                            $.alert('Đã hủy!');
                        }
                    }
                });
            })
        })
    </script>