<style>
    .icons {
        display: flex;
        align-items: center;
        gap: 10px;
    }
</style>
{{> header}}
<div class="content-wrapper">
    <div class="container-fluid">
        {{!-- subHeader --}}
        <div style="max-width: 100%; display: contents;">

            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
                <button class="btn btn-primary btnRevertAll ml-3 btnDisabledRevert">Khôi phục mục đã
                    chọn</button>
            </ul>
        </div>
        {{!-- endSubheader --}}
        <div class="row" style="display: contents;">
            <div class="col-lg-12" style="max-width: 100%;">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items">

                            <span style="cursor: pointer;" class="d-inline-block mr-3" tabindex="0"
                                data-toggle="tooltip" title="Trở về">
                                <a href="/scoreTemp">
                                    <ion-icon name="arrow-undo-outline"></ion-icon>
                                </a>
                            </span>
                            <div class="d-flex align-items">
                                <h5 class="card-title">Khôi phục phiếu chấm</h5>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="myTable" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th {{#ifCond ScoreTemp.length 0}}hidden{{/ifCond}}>
                                            <div class="checkbox">
                                                <input type="checkbox" class="check" id="checkAll">
                                            </div>
                                        </th>
                                        <th>Active</th>
                                        <th>Name</th>
                                        <th>Nhóm sản phẩm</th>
                                        <th>Ghi chú</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each ScoreTemp}}
                                    <tr>
                                        <td>
                                            <div class="">
                                                <div class="checkbox">
                                                    <input type="checkbox" class="check" data-idCheckBox="{{this._id}}">
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            {{#ifCond this.IsActive 1}}
                                            <div class="active"></div>
                                            {{else}}
                                            <div class="inactive"></div>
                                            {{/ifCond}}
                                        </td>
                                        <td>{{this.Name}}</td>
                                        {{#ifCond productgroup_IsDeleted 0}}
                                        <td>{{this.productgroup_name}}</td>
                                        {{else}}
                                        <td style="color: rgb(236, 236, 118);">Không xác định</td>
                                        {{/ifCond}}
                                        <td>{{this.Note}}</td>
                                        <td style="display: flex;">
                                            <button data-toggle="modal"
                                                style="background-color: transparent;border: none;cursor: pointer;">
                                                <span class="d-inline-block" tabindex="0" title="Khôi phục">
                                                    <ion-icon name="sync-outline" style="color: white; font-size: 18px;"
                                                        id="icon_revert" data-id="{{this._id}}"></ion-icon>
                                                </span>
                                            </button>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div><!--End content-wrapper-->
                </div>
            </div>
        </div>
    </div><!--End Row-->
    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/ScoreTempModal.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
        // checkbox All
        $("#checkAll").click(function (e) {
            $(".check").prop('checked', $(this).prop('checked'));
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const toastData = localStorage.getItem('toast');
            if (toastData) {
                const toast = JSON.parse(toastData);
                $.toast(toast);
                localStorage.removeItem('toast');
            }
            const btnReverts = document.querySelectorAll("#icon_revert")
            //revertOne
            for (let btnRevert of btnReverts) {
                btnRevert.addEventListener("click", async (event) => {
                    $.confirm({
                        title: '<ion-icon name="trash-bin-outline"></ion-icon>',
                        content: 'Bạn có chắc chắn muốn khôi phục ?',
                        buttons: {
                            confirm: {
                                text: 'Confirm',
                                btnClass: 'btn-red',
                                action: function () {
                                    // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                                    const id = event.target.dataset.id;

                                    // Gọi API xóa mục
                                    fetch(`/scoreTemp/revert/${id}`, {
                                        method: 'PATCH'
                                    }).then(response => {
                                        if (response.ok) {
                                            localStorage.setItem('toast', JSON.stringify({
                                                position: "top-right",
                                                heading: 'Khôi phục thành công',
                                                text: 'Đã khôi phục thành công thành công',
                                                icon: 'success',
                                                loader: true,
                                                loaderBg: '#9EC600',
                                                showHideTransition: 'slide',
                                                stack: 4
                                            }));
                                            window.location.reload()
                                        } else {
                                            alert('Có lỗi xảy ra khi xóa mục');
                                        }
                                    }).catch(error => {
                                        $.alert('Đã hủy');
                                    });
                                }
                            },
                            cancel: function () {
                                $.alert('Đã hủy!');
                            }
                        }
                    });
                })
            }
            const btnsCheck = document.querySelectorAll(".check")
            const btnDeleteAll = document.querySelector(".btnDeleteAll")
            const btnDisabledRevert = document.querySelector(".btnDisabledRevert")
            //Chưa checked thì disbale nút xóa all
            let count = 0
            const checkBtnDisabled = () => {
                if (count === 0) {
                    btnDisabledRevert.setAttribute("disabled", true)
                } else {
                    btnDisabledRevert.removeAttribute("disabled")
                }
            }
            for (let checked of btnsCheck) {
                checkBtnDisabled()
                checked.addEventListener("click", (e) => {
                    if (checked.checked) {
                        count++
                    } else {
                        count--
                    }
                    checkBtnDisabled()
                })
            }
            //RevertByCheckBox
            const btnRevertAll = document.querySelector(".btnRevertAll")
            btnRevertAll.addEventListener("click", async (e) => {
                $.confirm({
                    title: '<ion-icon name="help-circle-outline"></ion-icon>',
                    content: 'Bạn muốn khôi phục mục đã chọn ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-red',
                            action: async function () {
                                const id = event.target.dataset.id;
                                for (let btnCheck of btnsCheck) {
                                    if (btnCheck.checked) {
                                        const id = btnCheck.dataset.idcheckbox
                                        const res = await fetch(`/scoreTemp/revert/${id}`, {
                                            method: "PATCH"
                                        })
                                    }
                                }
                                localStorage.setItem('toast', JSON.stringify({
                                    position: "top-right",
                                    heading: 'Khôi phục thành công',
                                    text: 'Đã khôi phục thành công thành công',
                                    icon: 'info',
                                    loader: true,
                                    showHideTransition: 'slide',
                                    loaderBg: '#9EC600'
                                }));
                                window.location.reload()
                            }
                        },
                        cancel: function () {
                            $.alert('Đã hủy!');
                        }
                    }
                });
            })
        })
    </script>