{{!-- UPDATE --}}
{{#if this._id}}
<div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật vai trò</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form>
                    <div class="form-row">
                        {{!-- title --}}
                        <div class="col-md-8 mb-3">
                            <label for="title">Tên vai trò</label>
                            <input value="{{this.title}}" name="title" type="text" class="form-control"
                                id="title{{this._id}}" required>
                            <span
                                style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                id="messageErrorUpdate{{this._id}}"></span>
                        </div>
                        {{!-- status --}}
                        <div class="custom-control custom-switch col-md-3 ml-3"
                            style="display: flex; justify-content: center;align-items: center;">
                            {{#ifCond this.status 1}}
                            <input name="status" type="checkbox" class="custom-control-input" id="status{{this._id}}"
                                checked>
                            <label class="custom-control-label block" for="status{{this._id}}">Áp dụng</label>
                            {{else}}
                            <input name="status" type="checkbox" class="custom-control-input" id="status{{this._id}}">
                            <label class="custom-control-label block" for="status{{this._id}}">Áp dụng</label>
                            {{/ifCond}}
                        </div>
                        {{!-- note --}}
                        <div class="col-md-12 mb-3 mt-3">
                            <label for="note">Ghi
                                chú</label>
                            <input value="{{this.note}}" name="note" type="text" class="form-control"
                                id="note{{this._id}}">
                        </div>
                        <label for="">Phân quyền cho role</label><br>
                        <div id="tree{{this._id}}"></div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="handleUpdate('{{this._id}}')" class="btn btn-warning">Câp nhật vai trò</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{!-- POST --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới vai trò</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form>
                    <div class="form-row">
                        {{!-- creationUser --}}
                        <input id="creatorUser_id" type="text" name="creatorUser_id" value="{{User._id}}" hidden>
                        {{!-- title --}}
                        <div class="col-md-8 mb-3">
                            <label for="title">Tên vai trò</label>
                            <input name="title" type="text" class="form-control" id="titleRole" required>
                            <span
                                style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                id="messageError"></span>
                        </div>
                        {{!-- status --}}
                        <div class="custom-control custom-switch col-md-3 ml-3"
                            style="display: flex; justify-content: center;align-items: center;">
                            <input name="status" type="checkbox" class="custom-control-input" id="statusRole" checked>
                            <label class="custom-control-label block" for="statusRole">Áp dụng</label>
                        </div>
                        {{!-- note --}}
                        <div class="col-md-12 mb-3 mt-3">
                            <label for="note">Ghi
                                chú</label>
                            <input name="note" type="text" class="form-control" id="noteRole">
                        </div>
                        <label for="">Phân quyền cho role</label><br>
                        <div id="tree"></div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="handleAdd()" class="btn btn-info">Thêm vai trò</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    async function handleAdd() {
        var checkedPermissioin = $('#tree').jstree().get_checked();
        permission = JSON.stringify(checkedPermissioin)
        const titleRole = document.getElementById("titleRole").value
        const statusRole = document.getElementById("statusRole").checked
        const noteRole = document.getElementById("noteRole").value
        const creatorUser_id = document.getElementById("creatorUser_id").value
        const formData = new FormData()
        formData.append("title", titleRole)
        formData.append("status", statusRole)
        formData.append("note", noteRole)
        formData.append("creatorUser_id", creatorUser_id)
        formData.append("permission", permission)
        const res = await fetch("/role/add", {
            method: "POST",
            body: formData
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'SUCCESS',
                text: 'Đã thêm thành công!',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/role")
        } else {
            const errorData = await res.json();
            $.toast({
                position: "top-right",
                heading: 'Thêm thất bại',
                text: errorData.message || 'Đã có lỗi xảy ra',
                icon: 'error',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
        }
    }

    async function handleUpdate(id) {
        const checkedPermissioin = $(`#tree${id}`).jstree().get_checked();
        permission = JSON.stringify(checkedPermissioin)
        const title = document.getElementById(`title${id}`).value
        const status = document.getElementById(`status${id}`).checked
        const note = document.getElementById(`note${id}`).value
        const formData = new FormData()
        formData.append("title", title)
        formData.append("status", status)
        formData.append("note", note)
        formData.append("permission", permission)
        const res = await fetch(`/role/update/${id}`, {
            method: "POST",
            body: formData
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Cập nhật thành công',
                text: 'Đã cập nhật thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/role")
        } else {
            const data = await res.json()
            const messageErrorUpdate = document.getElementById(`messageErrorUpdate${id}`)
            messageErrorUpdate.innerHTML = data.message
            console.error("Response was not ok:", res.status);
        }
    }
</script>