{{!-- post --}}
<div class="modal fade" id="modalCustomerAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 800px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm chủ thể</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        {{!-- creatorUser --}}
                        <input type="text" name="CreatorUser_id" id="CreatorUser_id" value="{{User._id}}" hidden>
                        <input type="hidden" id="UserDisTrict" value="{{User.DistrictId}}">
                        {{!-- Code --}}
                        <div class="col-md-2 mb-3">
                            <label for="Code">Code</label>
                            <input value="{{this.Code}}" name="Code" type="text" class="form-control" id="Code" disabled
                                required>
                        </div>
                        {{!-- title --}}
                        <div class="col-md-6 mb-3">
                            <label for="Name">Tên chủ thể</label>
                            <input name="Name" type="text" class="form-control" id="Name" required>
                        </div>
                        {{!-- SubName --}}
                        <div class="col-md-4 mb-3">
                            <label for="SubName">Người đại diện</label>
                            <input name="SubName" type="text" class="form-control" id="SubName" required>
                            <span
                                style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                id="messageError"></span>
                        </div>
                        {{!-- code --}}
                        <div class="col-md-6 mb-3">
                            <label for="Phone">Số điện thoại</label>
                            <input name="Phone" type="text" class="form-control" id="Phone" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Email">Email</label>
                            <input name="Email" type="email" class="form-control" id="Email" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="customer_email">Tỉnh/Thành phố</label>
                            <select name="City_id" id="City_id" class="form-control modalCustomerAdd selectpicker"
                                data-live-search="true" onchange="handleChooseCity(this.value)">
                                <option value="" selected>--</option>
                                {{#each Province}}
                                <option value="{{this._id}}">{{this.Name}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="customer_email">Quận / Huyện</label>
                            <select name="District_id" id="District_id"
                                class="form-control modalCustomerAdd selectpicker"
                                onchange="handleChooseDistrict(this.value)" data-live-search="true">
                                <option value="" selected>--</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="customer_email">Xã / Phường</label>
                            <select name="Ward_id" id="Ward_id" class="form-control modalCustomerAdd selectpicker"
                                data-live-search="true">
                                <option value="" selected>--</option>
                            </select>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="Address">Address</label>
                            <input name="Address" type="text" class="form-control" id="Address">
                        </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button type="button" onclick="handleAdd()" class="btn btn-info">Thêm chủ thể</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- random code --}}
<script>
    function generateRandomCode(length) {
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            code += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return code;
    }
    const codeRandom = generateRandomCode(8)
    const codeValue = document.querySelector("#Code")
    codeValue.value = codeRandom
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script>
    async function handleAdd() {
        const Code = document.getElementById("Code").value
        const Name = document.getElementById("Name").value
        const Address = document.getElementById("Address").value
        const SubName = document.getElementById("SubName").value
        const Phone = document.getElementById("Phone").value
        const Email = document.getElementById("Email").value
        const City_id = document.getElementById("City_id").value
        const District_id = document.getElementById("District_id").value
        const Ward_id = document.getElementById("Ward_id").value
        const CreatorUser_id = document.getElementById("CreatorUser_id").value
        const UserDisTrict = document.getElementById("UserDisTrict").value
        if (Name.trim() === "") {
            $.toast({
                position: "top-right",
                heading: 'WARNING!',
                text: "Tên chủ thể không được để trống",
                icon: 'warning',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
            return
        }
        if (UserDisTrict) {
            if (City_id.trim() === "") {
                $.toast({
                    position: "top-right",
                    heading: 'WARNING!',
                    text: "Tỉnh không được để trống",
                    icon: 'warning',
                    loader: true,
                    loaderBg: '#f2a654',
                    showHideTransition: 'slide',
                    stack: 4
                });
                return
            }
            if (District_id.trim() === "") {
                $.toast({
                    position: "top-right",
                    heading: 'WARNING!',
                    text: "Huyện không được để trống",
                    icon: 'warning',
                    loader: true,
                    loaderBg: '#f2a654',
                    showHideTransition: 'slide',
                    stack: 4
                });
                return
            }
            if (Ward_id.trim() === "") {
                $.toast({
                    position: "top-right",
                    heading: 'WARNING!',
                    text: "Xã không được để trống",
                    icon: 'warning',
                    loader: true,
                    loaderBg: '#f2a654',
                    showHideTransition: 'slide',
                    stack: 4
                });
                return
            }

        }
        const form = {
            Code: Code,
            Name: Name,
            Address: Address,
            SubName: SubName,
            Phone: Phone,
            Email: Email,
            City_id: City_id || null,
            District_id: District_id || null,
            Ward_id: Ward_id || null,
            CreatorUser_id: CreatorUser_id
        }
        console.log(form)
        const res = await fetch("/customer-manage/create", {
            method: "POST",
            body: JSON.stringify(form),
            headers: {
                "Content-Type": "application/json"
            }
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Thêm thành công',
                text: 'Đã thêm thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/customer-manage")
        } else {
            const data = await res.json()
            $.toast({
                position: "top-right",
                heading: 'Thêm thất bại',
                text: data.message || 'Đã có lỗi xảy ra',
                icon: 'error',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
            console.error("Response was not ok:", res.status);
        }
    }
    //update
</script>