{{!-- UPDATE --}}
{{#if this._id}}
<div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật nhóm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form method="POST" action="/product-group/update/{{this._id}}">
                    <div class="form-row">
                        {{!-- code --}}
                        <div class="col-md-4 mb-3">
                            <label for="code">Mã</label>
                            <input value="{{this.Code}}" name="Code" type="text" class="form-control"
                                id="Code{{this._id}}" required>
                        </div>
                        {{!-- title --}}
                        <div class="col-md-5 mb-3">
                            <label for="Name">Tên nhóm sản phẩm</label>
                            <input value="{{this.Name}}" name="Name" type="text" class="form-control"
                                id="Name{{this._id}}" required>
                            <span
                                style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                id="messageErrorUpdate{{this._id}}"></span>
                        </div>
                        {{!-- status --}}
                        <div class="custom-control custom-switch col-md-3"
                            style="display: flex; justify-content: center;align-items: center;">
                            {{#ifCond this.IsActive 1}}
                            <input name="IsActive" type="checkbox" class="custom-control-input"
                                id="IsActive{{this._id}}" checked>
                            <label class="custom-control-label block" for="IsActive{{this._id}}">Áp dụng</label>
                            {{else}}
                            <input name="IsActive" type="checkbox" class="custom-control-input"
                                id="IsActive{{this._id}}">
                            <label class="custom-control-label block" for="IsActive{{this._id}}">Áp dụng</label>
                            {{/ifCond}}

                        </div>
                        {{!-- note --}}
                        <div class="col-md-12 mb-3 mt-3">
                            <label for="Note">Ghi
                                chú</label>
                            <input value="{{this.Note}}" name="Note" type="text" class="form-control"
                                id="Note{{this._id}}">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="handleUpdate('{{this._id}}')" class="btn btn-warning">Câp nhật nhóm sản
                        phẩm</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{!-- POST --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới nhóm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form>
                    <div class="form-row">
                        <input type="text" value="{{User._id}}" name="CreatorUser_id" id="CreatorUser_id" hidden>
                        {{!-- code --}}
                        <div class="col-md-4 mb-3">
                            <label for="Code">Mã</label>
                            <input name="Code" type="text" class="form-control" id="Code" required>
                        </div>
                        {{!-- title --}}
                        <div class="col-md-5 mb-3">
                            <label for="Name">Tên nhóm sản phẩm</label>
                            <input name="Name" type="text" class="form-control" id="Name" required>
                            <span
                                style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                id="messageError"></span>
                        </div>
                        {{!-- status --}}
                        <div class="custom-control custom-switch col-md-3"
                            style="display: flex; justify-content: center;align-items: center;">
                            <input name="IsActive" type="checkbox" class="custom-control-input" id="IsActive" checked>
                            <label class="custom-control-label block" for="IsActive">Áp dụng</label>
                        </div>
                        {{!-- note --}}
                        <div class="col-md-12 mb-3 mt-3">
                            <label for="Note">Ghi
                                chú</label>
                            <input name="Note" type="text" class="form-control" id="Note">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="handleAdd()" class="btn btn-success">Thêm nhóm sản phẩm</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- random code --}}
<script>
    const codeValue = document.querySelector("#Code")
    console.log(codeValue)
    function generateRandomCode(length) {
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            code += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return code;
    }
    const codeRandom = generateRandomCode(8)
    codeValue.value = codeRandom
</script>

{{!-- req actions --}}

<script>
    async function handleAdd() {
        const Code = document.getElementById("Code").value
        const Name = document.getElementById("Name").value
        const Note = document.getElementById("Note").value
        const IsActive = document.getElementById("IsActive").checked
        const CreatorUser_id = document.getElementById("CreatorUser_id").value
        const formData = new FormData()
        formData.append("Code", Code)
        formData.append("Name", Name)
        formData.append("Note", Note)
        formData.append("IsActive", IsActive)
        formData.append("CreatorUser_id", CreatorUser_id)
        const res = await fetch("/product-group/add", {
            method: "POST",
            body: formData
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Thêm thành công',
                text: 'Đã thêm thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/product-group")
        } else {
            const data = await res.json()
            document.getElementById("messageError").innerHTML = data.message
            console.error("Response was not ok:", res.status);
        }
    }

    async function handleUpdate(id) {
        const Code = document.getElementById(`Code${id}`).value
        const Name = document.getElementById(`Name${id}`).value
        const Note = document.getElementById(`Note${id}`).value
        const IsActive = document.getElementById(`IsActive${id}`).checked
        const formData = new FormData()
        formData.append("Code", Code)
        formData.append("Name", Name)
        formData.append("Note", Note)
        formData.append("IsActive", IsActive)
        const res = await fetch(`/product-group/update/${id}`, {
            method: "POST",
            body: formData
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Cập nhật thành công',
                text: 'Đã cập nhật thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/product-group")
        } else {
            const data = await res.json()
            const messageErrorUpdate = document.getElementById(`messageErrorUpdate${id}`)
            messageErrorUpdate.innerHTML = data.message
            console.error("Response was not ok:", res.status);
        }
    }
</script>