{{!-- UPDATE --}}
{{#if this._id}}
<div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật phòng ban</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form>
                    <div class="form-row">
                        {{!-- code --}}
                        <div class="col-md-4 mb-3">
                            <label for="code">Mã</label>
                            <input value="{{this.code}}" id="code{{this._id}}" name="code" type="text"
                                class="form-control" id="code" required>
                        </div>
                        {{!-- title --}}
                        <div class="col-md-8 mb-3">
                            <label for="title">Tên phòng ban</label>
                            <input value="{{this.title}}" name="title" type="text" class="form-control"
                                id="title{{this._id}}" required>
                            <span
                                style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                id="messageErrorUpdate{{this._id}}"></span>
                        </div>
                        {{!-- note --}}
                        <div class="col-md-12 mb-3 mt-3">
                            <label for="note">Ghi
                                chú</label>
                            <textarea name="description" class="form-control"
                                id="description{{this._id}}">{{this.description}}</textarea>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="handleUpdate('{{this._id}}')" class="btn btn-warning">Câp nhật phòng ban</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{!-- POST --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới phòng ban</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form>
                    <div class="form-row">
                        {{!-- idCreate --}}
                        <input id="creatorUser_id" type="text" value="{{User._id}}" name="creatorUser_id" hidden>
                        {{!-- code --}}
                        <div class="col-md-4 mb-3">
                            <label for="code">Mã</label>
                            <input name="code" value="" type="text" class="form-control" id="code" required>
                        </div>
                        {{!-- title --}}
                        <div class="col-md-8 mb-3">
                            <label for="title">Tên phòng ban</label>
                            <input name="title" type="text" class="form-control" id="title" required>
                            <span
                                style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                id="messageError"></span>
                        </div>
                        {{!-- note --}}
                        <div class="col-md-12 mb-3 mt-3">
                            <label for="description">Mô tả</label>
                            <textarea name="description" class="form-control" id="description"></textarea>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="handleAdd()" class="btn btn-success">Thêm phòng ban</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- random --}}
<script>
    function generateRandomCode(length) {
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            code += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return code;
    }
    const codeRandom = generateRandomCode(8)
    const codeValue = document.querySelector("#code")
    codeValue.value = codeRandom
</script>
{{!-- actions req --}}
<script>
    async function handleAdd() {
        const code = document.getElementById("code").value
        const title = document.getElementById("title").value
        const description = document.getElementById("description").value
        const creatorUser_id = document.getElementById("creatorUser_id").value
        const form = {
            title: title,
            code: code,
            description: description,
            creatorUser_id: creatorUser_id
        }
        const res = await fetch("/workDepartment/add", {
            method: "POST",
            body: JSON.stringify(form),
            headers: {
                "Content-Type": "application/json"
            }
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Thêm thành công',
                text: 'Đã thêm thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/workDepartment")
        } else {
            const data = await res.json()
            $.toast({
                position: "top-right",
                heading: 'WARNING!',
                text: data.message || 'Đã có lỗi xảy ra',
                icon: 'warning',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
        }
    }

    async function handleUpdate(id) {
        const title = document.getElementById(`title${id}`).value
        const description = document.getElementById(`description${id}`).value
        const code = document.getElementById(`code${id}`).value
        const form = {
            title: title,
            code: code,
            description: description,
        }

        const res = await fetch(`/workDepartment/update/${id}`, {
            method: "PATCH",
            body: JSON.stringify(form),
            headers: {
                "Content-Type": "application/json"
            }
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Cập nhật thành công',
                text: 'Đã cập nhật thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/workDepartment")
        } else {
            const data = await res.json()
            $.toast({
                position: "top-right",
                heading: 'WARNING!',
                text: data.message || 'Đã có lỗi xảy ra',
                icon: 'warning',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
        }
    }
</script>