<style>
    .modal-content {
        min-width: 1000px !important;
    }

    @media screen and (min-width: 350px) and (max-width: 1024px) {
        .modal-content {
            min-width: 750px !important;
        }
    }
</style>
<div class="modal fade" id="modalResultsScoreFile{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {{!-- <p>{{this.scorecommittee_name}}</p> --}}
                <h5 class="modal-title" id="exampleModalLabel">
                    <strong>Kết quả {{this.scorecommittee_name}} <span class="employeeScored"></span> -
                        {{this.product_name}}</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Thành viên</th>
                            <th>Điểm</th>
                            <th>Xếp hạng</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyResultsScoreFile{{this.Product_id}}">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="" style="display: flex;flex-direction: column;">
                    <span class="alert"
                        style="color: rgb(220, 40, 40);font-size: 13px;font-style: italic;background-color: transparent;"></span>
                    <div class="">
                        <button type="button" class="btn btn-success mr-2" style="color: white;"
                            onclick="handleResult('{{this.Product_id}}')" id="btnUpdate{{this.Product_id}}">Cập nhật
                            phiếu
                            chấm</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
{{!-- file pdf --}}
<script>
    async function generatePDF(scorefileId) {
        try {
            showLoading()
            const ScoreFile = await getOneScoreFile(scorefileId)
            const response = await fetch(`/pdf/generate/${scorefileId}`, {
                method: 'GET',
            });
            console.log(`response:`, response)
            if (!response.ok) {
                hideLoading()
                throw new Error('Network response was not ok');
            }
            const blob = await response.blob();
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement('a');
            a.href = url;
            a.download = `phieu-cham-${ScoreFile ? ScoreFile.employee_FullName : ""}`;
            document.body.appendChild(a);
            a.click();
            a.remove();
            hideLoading()
        } catch (error) {
            hideLoading()
            console.error('There was a problem with the fetch operation:', error);
        }
    }

    async function getOneScoreFile(scorefileId) {
        try {
            const response = await fetch(`/scorefile/getOne/${scorefileId}`, {
                method: "GET"
            })
            return await response.json()
        } catch (err) {
            hideLoading()
            console.log(err)
        }
    }

</script>