<style>
    td {
        text-align: center;
    }

    /* CSS cho hiệu ứng hover */
    .file-item {
        display: flex;
        align-items: center;
    }

    .file-item a:hover {
        color: #333333;
    }

    .remove-file-button {
        padding: 0 !important;
        margin-top: 2px;
        padding: 1px 5px;
        margin-left: 10px;
    }

    .hover-effect:hover {
        background-color: #333333;
        /* Màu nền khi hover */
        color: white;
        /* Màu chữ khi hover */
    }

    .activeTabs {
        background-color: #333333;
        /* Màu nền khi hover */
        color: white;
        /* Màu chữ khi hover */
    }

    .displayNone {
        display: none;
    }

    .table-border td {
        max-height: 80px;
    }

    .row-content {
        height: 70vh;
        padding: 24px 0;
    }

    .modal-product {
        min-width: 1200px;
    }

    .file-drop-area {
        position: relative;
        display: flex;
        align-items: center;
        width: 250px;
        max-width: 100%;
        padding: 12px;
        border: 1px dashed rgba(255, 255, 255, 0.4);
        border-radius: 3px;
        transition: 0.2s;

    }

    .choose-file-button {
        flex-shrink: 0;
        background-color: rgba(255, 255, 255, 0.04);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        padding: 8px 15px;
        margin-right: 10px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .file-message {
        font-size: small;
        font-weight: 300;
        line-height: 1.4;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .file-input {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;

    }

    .mt-100 {
        margin-top: 100px;
    }



    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .modal-product {
            min-width: 100% !important;
        }

        #myTable {
            font-size: 12px !important;
        }

        #myTable {
            width: 100%;
        }

        .row-content {
            height: auto !important;
        }

        .form-row {
            margin-bottom: 80px;
        }

        .file-upload {
            margin-bottom: 40px;
        }

        .modal-content {
            width: 800px !important;
        }
    }
</style>
{{!-- POST --}}
<div class="modal fade" id="exampleModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content modal-product" style="100%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form enctype="multipart/form-data">
                    <div class="row row-content">
                        <div class="form-row col-xl-3 col-sm-12 col-md-12"
                            style="display: flex;flex-direction: column; text-align: center;">
                            <h1 style="font-size: 16px; text-align: center;font-weight: 600;">Ảnh sản phẩm</h1>
                            <div>
                                <div class="col-sm-12" style="position: relative;">
                                    <div data-toggle="tooltip" data-html="true" title="Xóa ảnh" onclick="removeUpload()"
                                        style="position: absolute;top: 0;right: 0;">
                                        <ion-icon name="close-outline"></ion-icon>
                                    </div>
                                    <input type="file" id="Avatar" accept="image/*" hidden>
                                    <img id="AvatarPreview" onclick="document.getElementById('Avatar').click()"
                                        style="width: 200px;height: 200px;object-fit: cover;border-radius:50%"
                                        src="/Uploads/productDefault.jpg" alt="">

                                </div>
                                <div onclick="handleShowFormProduct(this)"
                                    class="d-flex align-items-center justify-content-center p-2 mt-3 hover-effect activeTabs boxFormProduct"
                                    style="cursor: pointer; border-radius: 10px;">
                                    <ion-icon name="menu-outline"></ion-icon>
                                    <span class="ml-2">Thông tin chung</span>
                                </div>
                                <div onclick="handleShowListCitation(this)"
                                    class="d-flex align-items-center justify-content-center mt-2 p-2 hover-effect boxListCitation"
                                    style="cursor: pointer;border-radius: 10px;">
                                    <ion-icon name="folder-open-outline"></ion-icon>
                                    <span class="ml-2">Thông tin hồ sơ</span>
                                </div>
                            </div>
                        </div>
                        {{!-- creation_userId --}}
                        <input type="text" id="CreatorUser_id" name="CreatorUser_id" value="{{User._id}}" hidden>
                        {{!-- form Product --}}
                        <div class="form-row col-xl-9 col-sm-12 col-md-12 form_product">
                            {{!-- code --}}
                            <div class="col-md-2 mb-3">
                                <label for="Code">Mã</label>
                                <input name="Code" type="text" class="form-control" id="Code" required>
                            </div>
                            {{!-- title --}}
                            <div class="col-md-8 mb-3">
                                <label for="Name">Tên sản phẩm</label>
                                <input name="Name" type="text" class="form-control" id="Name" required>
                                <span
                                    style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                    id="ErrorName"></span>
                            </div>
                            <div class="custom-control custom-switch col-md-2"
                                style="display: flex; justify-content: center;align-items: center;">
                                <input name="IsActive" type="checkbox" class="custom-control-input" id="IsActive"
                                    checked>
                                <label class="custom-control-label block" for="IsActive">Áp dụng</label>
                            </div>
                            {{!-- mô tả sản phẩm --}}
                            <div class="col-md-12 mb-3 mt-3">
                                <label for="Description">Mô tả sản phẩm</label>
                                <textarea id="Description" name="Description" class="form-control"></textarea>
                            </div>
                            {{!-- Customer --}}
                            <div class="col-md-6 mb-3 mt-3">
                                <label for="Customer_id">Chủ thể</label>
                                <select id="Customer_id" name="Customer_id"
                                    class="form-control js-example-basic-single">
                                    {{#each Customer}}
                                    <option value="{{this._id}}">{{this.Name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{!-- Product- group --}}
                            <div class="col-md-6 mb-3 mt-3">
                                <label for="note">Nhóm sản phẩm</label>
                                <select id="ProductGroup_id" name="ProductGroup_id"
                                    class="form-control js-example-basic-single">
                                    {{#each ProductGroup}}
                                    <option value="{{this._id}}" {{#ifCond this.IsActive 0}}disabled{{/ifCond}}>
                                        {{this.Name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{!-- Year Review --}}
                            <div class="col-md-3 mb-3 mt-3">
                                <label for="ProductYearId">Năm đánh giá</label>
                                <select id="ProductYearId" name="ProductYearId"
                                    class="form-control js-example-basic-single">
                                    {{#each Review}}
                                    <option value="{{this._id}}" {{#ifCond this.status 0}}disabled{{/ifCond}}>
                                        {{this.yearName}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                            {{!-- note --}}
                            <div class="col-md-9 mb-3 mt-3">
                                <label for="Note">Ghi
                                    chú</label>
                                <input name="Note" type="text" class="form-control" id="Note">
                            </div>
                        </div>
                        {{!-- bảng viễn dẫn --}}
                        <div class="col-xl-9 col-sm-12 col-md-12 list_citation displayNone"
                            style="overflow-y: auto;height: 100%;font-size: 12px">
                            <table border="1" class="table table-hover table-border table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Bắt buộc</th>
                                        <th>Tệp đính kèm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each ProductDetail}}
                                    <tr>
                                        <input type="text" id="Code{{this._id}}" value="{{this._id}}" hidden>
                                        <td>{{plus @index}}</td>
                                        <td>
                                            <input type="text" hidden id="ProductDetail_Name{{this._id}}"
                                                name="ProductDetail_Name">
                                            <p style="text-wrap: wrap;">{{this.ProductDetail_Name}}</p>
                                        </td>
                                        <td style="color: red;">
                                            <p>(*)</p>
                                        </td>
                                        <td>
                                            <div class="container d-flex justify-content-center">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="file-drop-area">
                                                            <span class="choose-file-button">Choose files</span>
                                                            <span class="file-message">or drag and drop files
                                                                here</span>
                                                            <input id="AttachFile{{this._id}}" class="file-input"
                                                                name="AttachFile" type="file" multiple>
                                                        </div>
                                                        <div class="selected-files">
                                                            <!-- Danh sách các tệp đã chọn sẽ được hiển thị ở đây -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="handleAdd()" class="btn btn-success">Thêm sản phẩm</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const avatarImage = document.getElementById("AvatarPreview");
        const defaultImageUrl = avatarImage.src;
        document.getElementById("Avatar").addEventListener("change", (event) => {
            const file = event.target.files[0]
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    avatarImage.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }

        })
        window.removeUpload = () => {
            const fileInput = document.getElementById('Avatar');
            fileInput.value = ''; // Xóa nội dung của input file
            avatarImage.src = defaultImageUrl; // Đặt lại hình ảnh mặc định
        };
    })
</script>
{{!-- Code random --}}
<script>
    const codeValue = document.querySelector("#Code")

    function generateRandomCode(length) {
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            code += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return code;
    }
    const codeRandom = generateRandomCode(8)
    codeValue.value = codeRandom
</script>
{{!-- actions req --}}
<script src="/assets/js/addProduct.js"></script>