{{!-- POST --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content modal-employee">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm cán bộ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: auto;max-height: 80vh;">
                <form class="row" enctype="multipart/form-data">
                    <div class="col-md-4">
                        <h1 style="font-size: 16px; text-align: center;font-weight: 600;">Ảnh đại diện</h1>
                        <div class="file-upload">
                            <div class="image-upload-wrap">
                                <input id="Avatar" class="file-upload-input" type='file' name="Avatar"
                                    onchange="readURL(this);" accept="image/*" />
                                {{!-- creatorUser --}}
                                <input type="text" id="CreatorUser_id" name="CreatorUser_id" value="{{User._id}}"
                                    hidden>
                                {{!-- userName --}}
                                <input type="text" id="UserName" name="UserName" hidden>
                                {{!-- avatar --}}
                                <div class="drag-text">
                                </div>
                            </div>
                            <div class="file-upload-content" style="display: none;position: relative;">
                                <input style="" id="Avatar" class="file-upload-input" type='file' name="Avatar"
                                    onchange="readURL(this);" accept="image/*" />
                                <img style="width: 200px;height: 200px;object-fit: cover;" class="file-upload-image"
                                    alt="your image" />
                                <div class="image-title-wrap">
                                    <button type="button" onclick="removeUpload()"
                                        class="remove-image mt-2">Remove</button>
                                </div>
                            </div>
                            {{!-- gender --}}
                            <div class="d-flex justify-content-center mt-3">
                                <div class="">
                                    <input type="radio" name="Gender" id="nam" value="nam" checked>
                                    <label for="nam">Nam</label>
                                </div>
                                <div class="ml-3">
                                    <input type="radio" name="Gender" id="nu" value="nu">
                                    <label for="nu">Nữ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-row">
                            {{!-- code --}}
                            <div class="col-md-6 mb-3">
                                <label for="Code">Mã</label>
                                <input name="Code" type="text" class="form-control" id="Code" required>
                            </div>
                            {{!-- Email --}}
                            <div class="col-md-6 mb-3">
                                <label for="Email">E-mail</label>
                                <input name="Email" type="text" class="form-control" id="Email" required>
                            </div>
                            {{!-- fullName --}}
                            <div class="col-md-12 mb-3 mt-3">
                                <label for="FullName">Họ và tên</label>
                                <input name="FullName" type="text" class="form-control" id="FullName" required>
                                <span
                                    style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                    id="messageError"></span>
                            </div>
                            {{!-- birthDay --}}
                            <div class="col-md-6 mb-3 mt-3">
                                <label for="DoB">Ngày sinh</label>
                                <input name="DoB" type="date" class="form-control" id="DoB" required>
                            </div>
                            {{!-- tel --}}
                            <div class="col-md-6 mb-3 mt-3">
                                <label for="Phone">Số điện thoại</label>
                                <input name="Phone" type="data" class="form-control" id="Phone">
                            </div>
                            {{!-- address --}}
                            <div class="col-md-12 mb-3 mt-3">
                                <label for="Address">Địa chỉ</label>
                                <input name="Address" type="data" class="form-control" id="Address">
                            </div>
                            {{!-- Customer --}}
                            <div class="col-md-6 mb-3 mt-3">
                                <label for="WorkDepartment_id">Tổ / Phòng ban</label>
                                <select id="WorkDepartment_id" name="WorkDepartment_id" class="form-control" required>
                                    {{#each WorkDepartMent}}
                                    {{#ifCond this.isDeleted 0}}
                                    <option value="{{this._id}}">{{this.title}}</option>
                                    {{/ifCond}}
                                    {{/each}}
                                </select>
                            </div>
                            {{!-- workPostitionId--}}
                            <div class="col-md-6 mb-3 mt-3">
                                <label for="WorkPosition_id">Vị trí chức danh</label>
                                <select id="WorkPosition_id" name="WorkPosition_id" class="form-control">
                                    {{#each WorkPosition}}
                                    <option value="{{this._id}}" {{#ifCond this.IsActive 0}}disabled{{/ifCond}}>
                                        {{this.Name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            {{!-- role --}}
                            <div class="col-md-12 mb-3 mt-3">
                                <label for="roleId">Vai trò</label>
                                <select id="roleId" name="roleId" class="form-control">
                                    {{#each Role}}
                                    <option value="{{this._id}}" {{#ifCond this.status 0}}disabled{{/ifCond}}>
                                        {{this.title}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="handleAdd()" type="submit" class="btn btn-success">Thêm cán bộ</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script>
    const UserNameValue = document.querySelector("#UserName")
    function generateRandomUser(length) {
        let characters = '0123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            code += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return code;
    }
    const UserNameRandom = generateRandomUser(6)
    UserNameValue.value = `USER${UserNameRandom}`
</script>
<script>
    async function handleAdd() {
        const Avatar = document.getElementById("Avatar")
        const nu = document.getElementById("nu").check
        const nam = document.getElementById("nam").check
        const Code = document.getElementById("Code").value
        const UserName = document.getElementById("UserName").value
        const Email = document.getElementById("Email").value
        const FullName = document.getElementById("FullName").value
        const DoB = document.getElementById("DoB").value
        const Phone = document.getElementById("Phone").value
        const Address = document.getElementById("Address").value
        const WorkDepartment_id = document.getElementById("WorkDepartment_id").value
        const WorkPosition_id = document.getElementById("WorkPosition_id").value
        const roleId = document.getElementById("roleId").value
        const CreatorUser_id = document.getElementById("CreatorUser_id").value
        const formData = new FormData()
        formData.append("Avatar", Avatar?.files[0] ? Avatar?.files[0] : null)
        formData.append("Gender", nu ? "nu" : "nam")
        formData.append("Code", Code)
        formData.append("UserName", UserName)
        formData.append("Email", Email)
        formData.append("DoB", DoB)
        formData.append("FullName", FullName)
        formData.append("Phone", Phone)
        formData.append("Address", Address)
        formData.append("WorkDepartment_id", WorkDepartment_id)
        formData.append("WorkPosition_id", WorkPosition_id)
        formData.append("roleId", roleId)
        formData.append("CreatorUser_id", CreatorUser_id)
        formData.append("Password", CryptoJS.SHA256("123456").toString())
        const res = await fetch(`/employee/add`, {
            method: "POST",
            body: formData
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Đã thêm thành viên',
                text: 'Thêm thành viên thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/employee")
        } else {
            const data = await res.json()
            $.toast({
                position: "top-right",
                heading: 'Thêm thất bại',
                text: data.message || 'Đã có lỗi xảy ra',
                icon: 'error',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
        }
    }

</script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('.image-upload-wrap').hide();
                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();

                $('.image-title').html(input.files[0].name);
            };

            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }
    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
    });

</script>
{{!-- random code --}}
<script>
    const codeValue = document.querySelector("#Code")
    function generateRandomCode(length) {
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            code += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return code;
    }
    const codeRandom = generateRandomCode(8)
    codeValue.value = codeRandom
</script>