{{!-- UPDATE --}}
{{#if this._id}}
<div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật nhóm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form method="POST" action="/product-group/update/{{this._id}}">
                    <div class="form-row">
                        {{!-- code --}}
                        <div class="col-md-2 mb-3">
                            <label for="code">Mã</label>
                            <input value="{{this.Code}}" name="Code" type="text" class="form-control"
                                id="Code{{this._id}}" required>
                        </div>
                        {{!-- title --}}
                        <div class="col-md-7 mb-3">
                            <label for="Name">Tên nhóm sản phẩm</label>
                            <textarea name="" id="Name{{this._id}}" class="form-control">{{this.Name}}</textarea>

                            <span
                                style="color: #de2935;font-size: 14px;font-style: italic;margin-top: 5px;font-weight: 600;"
                                id="messageErrorUpdate{{this._id}}"></span>
                        </div>
                        {{!-- status --}}
                        <div class="custom-control custom-switch col-md-3"
                            style="display: flex; justify-content: center;align-items: center;">
                            {{#ifCond this.IsActive 1}}
                            <input name="IsActive" type="checkbox" class="custom-control-input"
                                id="IsActive{{this._id}}" checked>
                            <label class="custom-control-label block" for="IsActive{{this._id}}">Áp dụng</label>
                            {{else}}
                            <input name="IsActive" type="checkbox" class="custom-control-input"
                                id="IsActive{{this._id}}">
                            <label class="custom-control-label block" for="IsActive{{this._id}}">Áp dụng</label>
                            {{/ifCond}}

                        </div>
                        {{!-- note --}}
                        <div class="col-md-12 mb-3 mt-3">
                            <label for="Note">Ghi
                                chú</label>
                            <input value="{{this.Note}}" name="Note" type="text" class="form-control"
                                id="Note{{this._id}}">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button onclick="handleUpdate('{{this._id}}')" class="btn btn-warning">Câp nhật nhóm sản
                        phẩm</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{!-- POST --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới nhóm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form>
                    <div class="form-row">
                        <input type="text" value="{{User._id}}" name="CreatorUser_id" class="CreatorUser_id" hidden>
                        {{!-- code --}}
                        <div class="col-md-2 mb-3">
                            <label for="Code">Mã</label>
                            <input name="Code" type="text" class="form-control Code" required>
                        </div>
                        {{!-- title --}}
                        <div class="col-md-7 mb-3">
                            <label for="Name">Tên nhóm sản phẩm</label>
                            {{!-- <input name="Name" type="text" class="form-control Name" required> --}}
                            <textarea name="" id="" class="form-control Name">{{this.Name}}</textarea>
                        </div>
                        {{!-- status --}}
                        <div class="custom-control custom-switch col-md-3"
                            style="display: flex; justify-content: center;align-items: center;">
                            <input name="IsActive" type="checkbox" class="custom-control-input IsActive" checked>
                            <label class="custom-control-label block" for="IsActive">Áp dụng</label>
                        </div>
                        {{!-- note --}}
                        <div class="col-md-12 mb-3 mt-3">
                            <label for="Note">Ghi
                                chú</label>
                            <input name="Note" type="text" class="form-control Note">
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    <button onclick="handleAdd()" class="btn btn-info">Thêm nhóm sản phẩm</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- random code --}}
<script>
    (function () {
        let codeValueProductGroup = document.querySelector(".Code");
        function generateRandomCode(length) {
            let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789';
            let code = '';
            for (let i = 0; i < length; i++) {
                code += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            return code;
        }
        let codeRandom = generateRandomCode(8);
        codeValueProductGroup.value = codeRandom;
    })();
</script>

{{!-- req actions --}}

<script>
    async function handleAdd() {
        const Code = document.querySelector(".Code").value
        const Name = document.querySelector(".Name").value
        const Note = document.querySelector(".Note").value
        const IsActive = document.querySelector(".IsActive").checked
        const CreatorUser_id = document.querySelector(".CreatorUser_id").value
        if (Name.trim() === "") {
            $.toast({
                position: "top-right",
                heading: 'WARNING!',
                icon: "warning",
                loader: true,
                loaderBg: '#9EC600',
                stack: 4,
                text: 'Tên nhóm sản phẩm không được để trống',
                allowToastClose: true
            });
            return
        }
        const form = {
            Code: Code,
            Name: Name,
            Note: Note,
            IsActive: IsActive === true ? 1 : 0,
            CreatorUser_id: CreatorUser_id
        }
        const res = await fetch("/product-group/add", {
            method: "POST",
            body: JSON.stringify(form),
            headers: {
                "Content-Type": "application/json"
            }
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Thêm thành công',
                text: 'Đã thêm thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/product-group")
        } else {
            const data = await res.json()
            $.toast({
                position: "top-right",
                heading: 'WARNING!',
                icon: "warning",
                loader: true,
                loaderBg: '#9EC600',
                stack: 4,
                text: `${data.message}`,
                allowToastClose: true
            });
        }
    }

    async function handleUpdate(id) {
        const Code = document.getElementById(`Code${id}`).value
        const Name = document.getElementById(`Name${id}`).value
        const Note = document.getElementById(`Note${id}`).value
        const IsActive = document.getElementById(`IsActive${id}`).checked
        if (Name.trim() === "") {
            $.toast({
                position: "top-right",
                heading: 'WARNING!',
                icon: "warning",
                loader: true,
                loaderBg: '#9EC600',
                stack: 4,
                text: 'Tên nhóm sản phẩm không được để trống',
                allowToastClose: true
            });
            return
        }
        const form = {
            Code: Code,
            Name: Name,
            Note: Note,
            IsActive: IsActive === true ? 1 : 0
        }
        const res = await fetch(`/product-group/update/${id}`, {
            method: "POST",
            body: JSON.stringify(form),
            headers: {
                "Content-Type": "application/json"
            }
        })
        if (res.ok) {
            const data = await res.json()
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Cập nhật thành công',
                text: 'Đã cập nhật thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/product-group")
        } else {
            const data = await res.json()
            $.toast({
                position: "top-right",
                heading: 'WARNING!',
                icon: "warning",
                loader: true,
                loaderBg: '#9EC600',
                stack: 4,
                text: `${data.message}`,
                allowToastClose: true
            });
        }
    }
</script>