<style>
    .listGallery {
        display: flex;
        flex-direction: column;
        align-items: start;
    }



    .file-item a {
        font-size: 12px;
    }

    @media screen and (min-width: 768px) and (max-width: 1180px) {
        .modal-content {
            min-width: 750px !important;
            height: auto;
            overflow-y: auto;
        }

        #myTable {
            font-size: 12px !important;
            width: 100%;
        }

        .row-content {
            height: auto !important;
        }

        .form-row {
            margin-bottom: 80px;
        }

        .file-upload {
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width:1180px) {
        .codeColumn {
            display: none !important;
        }

        .modal-content {
            min-width: 1000px !important;
        }

    }

    .form-row>.col,
    .form-row>[class*=col-] {
        padding-left: 19px !important;
    }

    .bootstrap-select:not(.input-group-btn) {
        display: block;
    }
</style>
{{> header}}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
                <div class="import_customer_button"
                    style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
                    <button class="btn btn-info btnSubmitFile d-flex align-items-center btnDisabled">
                        <ion-icon name="mail-open-outline" style="font-size: 16px;"></ion-icon>
                        <p class="ml-2 mb-0">Gửi link tải hồ sơ</p>
                    </button>
                </div>
            </ul>
            </li>
            </ul>
        </div>
    </div>
    <!-- End container-fluid-->
    <div class="row" style="display: contents;">
        <div class="col-lg-6" style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items">
                        <h5 class="card-title">Danh sách sản phẩm</h5>
                    </div>
                    <form id="filterProduct" action="/filterProduct" method="GET">
                        <div class="row mb-5">
                            <div class="col-sm-2"
                                style="max-width: 200px;margin-bottom: -40px;position: relative;z-index: 99;cursor: pointer;">
                                <label for="">Lọc theo: Năm đánh giá</label>
                                <select name="YearFilter" id="YearFilter" data="{{YearFilter}}"
                                    class="form-control selectpicker" data-live-search="true">
                                    <option value="" style="">Tất cả</option>
                                    {{#each Review}}
                                    <option value="{{this._id}}" style="" {{isSelected this._id ../YearFilter}}>
                                        {{this.yearName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-sm-2"
                                style="max-width: 200px;margin-bottom: -40px;position: relative;z-index: 99;cursor: pointer;">
                                <label for="">Lọc theo: Nhóm sản phẩm</label>
                                <select name="productGroupFilter" id="productGroupFilter" data="{{productGroupFilter}}"
                                    class="form-control selectpicker" data-live-search="true">
                                    <option value="" style="">Tất cả</option>
                                    {{#each ProductGroup}}
                                    <option value="{{this._id}}" {{isSelected this._id ../productGroupFilter}}>
                                        {{this.Name}}</option>
                                    {{/each}}
                                </select>
                            </div>

                        </div>
                    </form>
                    <div class="table-responsive">
                        <table id="myTableFilterProduct"
                            class="table datatables table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th {{#ifCond Product.length 0}}hidden{{/ifCond}}>
                                        <div class="checkbox-wrapper-42 checkbox">
                                            <input id="checkAll" type="checkbox" class="check" />
                                            <label class="cbx" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th scope="col" hidden>Id</th>
                                    <th scope="col" hidden>IdYear</th>
                                    <th scope="col"></th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col" style="max-width: 150px;">Nhóm sản phẩm</th>
                                    <th scope="col" style="max-width: 100px;" class="text-center">Rank OCOP</th>
                                    <th scope="col" style="max-width: 80px;">
                                        <p style="text-wrap:wrap;word-wrap: break-word;">Năm đánh giá</p>
                                    </th>
                                    <th scope="col" style="max-width: 120px;">Chủ thể</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each Product}}
                                <tr>
                                    <td>
                                        <div class="checkbox-wrapper-42 checkbox">
                                            <input id="cbx-42{{this._id}}" type="checkbox" class="check"
                                                data-idCheckBox="{{this._id}}" />
                                            <label class="cbx" for="cbx-42{{this._id}}"></label>
                                        </div>
                                    </td>
                                    <td hidden>{{this.ProductGroup_id}}</td>
                                    <td hidden>{{this.ProductYearId}}</td>
                                    <td style="max-width: 70px;">
                                        <img style="width: 50px;height: 50px;border-radius: 50%;border: 1px solid #ccc;"
                                            src="{{this.Avatar}}" alt="">
                                    </td>
                                    <td>
                                        <p onclick="handleProductDetail('{{this._id}}')" class="text-hightlight"
                                            data-toggle="modal" data-target="#exampleModalDetail{{this._id}}"
                                            style="cursor: pointer">
                                            {{this.Name}}</p>
                                        {{> modalReviewProduct}}
                                    </td>
                                    {{#ifCond productgroup_IsDeleted 0}}
                                    <td style="max-width: 130px;">
                                        <p class="text-overhidden" style="word-break: break-word;">
                                            {{this.productGroup_name}}
                                        </p>
                                    </td>
                                    {{else}}
                                    <td class="text-hightlight">Không xác định</td>
                                    {{/ifCond}}
                                    {{#ifCond this.RankOcop null}}
                                    <td class="text-hightlight text-center">Chưa xếp hạng</td>
                                    {{else}}
                                    <td style="max-width: 100px;">
                                        <div class="text-center">
                                            {{#repeat this.RankOcop}}
                                            <ion-icon name="star"></ion-icon>
                                            {{/repeat}}
                                            <p
                                                style="color: #B5B5C3;font-weight: 600;font-size: 12px;text-align: center;">
                                                {{this.RankOcop}}
                                                sao</p>
                                        </div>
                                    </td>
                                    {{/ifCond}}

                                    {{#ifCond yearreview_IsDeleted 0}}
                                    <td>{{this.yearName}}</td>
                                    {{else}}
                                    <td class="text-hightlight">Không xác định</td>
                                    {{/ifCond}}

                                    {{#ifCond customer_IsDeleted 0}}
                                    <td style="max-width: 120px;">
                                        <p style="text-wrap: wrap;font-weight: 600;">
                                            {{this.customer_name}}
                                        </p>
                                    </td>
                                    {{else}}
                                    <td class="text-hightlight">Không xác định</td>
                                    {{/ifCond}}

                                </tr>
                                {{/each }}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 ">
                        <div class=" ">
                            <nav aria-label="Page navigation ">
                                <ul class="pagination center">
                                    {{#if pagination.prev}}
                                    <li class="page-item">
                                        <a class="page-link" onclick="changePage({{pagination.prev}})"
                                            aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    {{/if}}

                                    {{#each pagination.pages}}
                                    <li class="page-item {{#if this.active}}active{{/if}}">
                                        <a class="page-link" onclick="changePage({{this.number}})">{{this.number}}
                                        </a>
                                    </li>
                                    {{/each}}

                                    {{#if pagination.next}}
                                    <li class="page-item">
                                        <a class="page-link" onclick="changePage({{pagination.next}})"
                                            aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </div><!--End Row-->
    </div>

    <!--End content-wrapper-->
    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
        // checkbox All
        $("#checkAll").click(function (e) {
            $(".check").prop('checked', $(this).prop('checked'));
        });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    {{!-- show productDetail --}}
    <script src="/assets/js/showProductDetail.js"></script>
    {{!-- actions --}}
    <script>
        const YearFilter = document.getElementById('YearFilter')
        const productGroupFilter = document.getElementById('productGroupFilter')
        const form = document.getElementById("filterProduct")
        const valYear = YearFilter.getAttribute('data')
        const valGroup = productGroupFilter.getAttribute('data')
        function changePage(page) {
            window.location.href = `filterProduct?page=${page}&YearFilter=${valYear}&productGroupFilter=${valGroup}`;
        }
        document.addEventListener('DOMContentLoaded', () => {

            YearFilter.addEventListener('change', () => {
                form.submit()
            })
            productGroupFilter.addEventListener('change', () => {
                form.submit()
            })
        })

        //sendFile
        const btnsCheck = document.querySelectorAll(".check")
        const btnSubmitFile = document.querySelector(".btnSubmitFile")
        const btnDisabled = document.querySelector(".btnDisabled")
        // khong checked thi se disabled nut
        let count = 0
        const checkBtnDisabled = () => {
            if (count === 0) {
                btnDisabled.setAttribute("disabled", true)
            } else {
                btnDisabled.removeAttribute("disabled")
            }
        }
        for (let checked of btnsCheck) {
            checkBtnDisabled()
            checked.addEventListener("click", (e) => {
                if (checked.checked) {
                    count++
                } else {
                    count--
                }
                checkBtnDisabled()
            })
        }
        btnSubmitFile.addEventListener("click", async (e) => {
            $.toast({
                position: "top-right",
                heading: 'WARNING!',
                text: `Hiện tính năng đang phát triển`,
                icon: 'warning',
                loader: true,
                loaderBg: '#9EC600',
                stack: 4
            })
        })
    </script>