{{> header}}
<style>
    /* For tablets */
    @media screen and (max-width: 1025px) {

        .statusLabelDanger,
        .statusLabelWarning,
        .statusLabelSuccess {
            padding: 4px 5px !important;
        }
    }

    /* For laptops and larger screens */
    @media only screen and (min-width: 1024px) {
        #myTable {
            min-width: 100%;
        }

        .dropDownResults {
            display: none;
        }

        .totalScoreStyle {
            max-width: 105px;
        }
    }
</style>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center; padding: 0;">
            </ul>
        </div>
    </div>

    <div class="row" style="display: contents;">
        <div class="col-lg-12" style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items">
                        <h5 class="card-title">Danh sách phiếu chấm</h5>
                        {{!-- <span class="d-inline-block ml-3" tabindex="0" data-toggle="tooltip"
                            title="Thùng rác của bạn">
                            <a href="/scorefile/trash">
                                <ion-icon name="trash-outline"></ion-icon>
                            </a>
                        </span> --}}
                    </div>
                    <div class="table-responsive">
                        <table id="myTable" class="table datatables table-bordered table-hover table-striped"
                            style="font-size: 13px">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-image">Ảnh</th>
                                    <th scope="col" style="text-wrap: wrap;">Sản phẩm</th>
                                    <th scope="col" class="col-productGroup" style="text-wrap: wrap;">Nhóm sản phẩm</th>
                                    <th scope="col" class="totalScoreStyle" style="text-wrap: wrap;">Tổng điểm</th>
                                    <th scope="col" class="rankOcopStyle">Xếp hạng</th>
                                    <th scope="col" class="col-dateScore">Ngày chấm</th>
                                    <th scope="col" class="col-Status">Trạng thái</th>
                                    <th scope="col" class="dropDownResults">quyen</th>
                                    <th scope="col" class="actions" style="text-wrap: wrap;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ScoreFile}}
                                <tr class="tr-{{this._id}}">

                                    <th scope="row" class="col-image">
                                        <div class="approved">
                                            <img src="{{this.product_avatar}}" alt=""
                                                style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                        </div>
                                    </th>
                                    <td>
                                        <ul style="list-style-type: none; font-weight: 700; padding: 0;">
                                            <li class="text-black-custom" style="font-size: 13px;text-wrap: wrap;"
                                                data-toggle="modal" data-target="#exampleModal">
                                                {{this.product_name}}
                                            </li>
                                            <p style="font-size: 13px; text-wrap: wrap;"
                                                class="nameProduct text-hightlight">
                                                Chủ thể: {{toUpperCase this.customer_name}}
                                            </p>
                                        </ul>
                                    </td>
                                    <td style="max-width: 150px;">
                                        <p class="" style="text-wrap: wrap;">Nhóm 19: {{this.productgroup_name}}</p>
                                    </td>
                                    {{!-- Score Total --}}
                                    <td class="totalScoreStyle">
                                        {{#ifCond this.ScoreTotal 0}}
                                        <p style="font-weight: 600; text-align: center;" class="text-red">
                                            {{this.ScoreTotal}}
                                        </p>
                                        {{else}}
                                        <p style="font-weight: 700; text-align: center;" class="text-red">
                                            {{this.ScoreTotal}}
                                        </p>
                                        {{/ifCond}}
                                    </td>
                                    {{!-- RankOcop --}}
                                    <td class="text-center rankOcopStyle">
                                        {{#repeat this.RankOcop}}
                                        <ion-icon name="star"></ion-icon>
                                        {{/repeat}}
                                        {{#if RankOcop}}
                                        <p style="color: #B5B5C3;font-weight: 600;font-size: 12px;">{{this.RankOcop}}
                                            sao
                                        </p>
                                        {{/if}}
                                    </td>
                                    {{!-- Ngay cham --}}
                                    <td class="col-dateScore text-center">
                                        {{#if this.formattedScoreDate}}
                                        {{this.formattedScoreDate}}
                                        {{/if}}
                                    </td>
                                    <td class="col-Status">
                                        {{#ifCond this.Status 0}}
                                        <p class="statusLabelDanger">Chưa chấm</p>
                                        {{/ifCond}}
                                        {{#ifCond this.Status 1}}
                                        <p class="statusLabelWarning">Đã chấm</p>
                                        {{/ifCond}}
                                        {{#ifCond this.Status 2}}
                                        <p class="statusLabelSuccess">Đã nộp phiếu</p>
                                        {{/ifCond}}
                                    </td>
                                    <td class="dropDownResults">
                                        <ion-icon name="add-circle-outline"
                                            onclick="handleDropDownResults('{{this._id}}','{{this.formattedScoreDate}}','{{this.Status}}')"></ion-icon>
                                    </td>
                                    {{!-- box icons --}}
                                    <td>
                                        <div class="box-icons">
                                            {{#ifCondOr ../User.RoleId 1 ../User._id this.scorecommittee_employeeId}}
                                            <button
                                                onclick="handleResultScoreFiles('{{this.ScoreCommitee_id}}','{{this.Product_id}}')"
                                                style="background: transparent; border: none;" class="d-inline-block"
                                                tabindex="0" data-toggle="tooltip" title="Xem kết quả hội đồng">
                                                <ion-icon name="receipt-outline" data-toggle="modal"
                                                    data-target="#modalResultsScoreFile{{this._id}}"></ion-icon>
                                            </button>
                                            {{> modalResultScoreFile id=this._id}}
                                            {{/ifCondOr}}
                                            {{!-- {{#ifCondNot ../User.RoleId 1}} --}}
                                            {{!-- neu scorecommitt active = 1 thi moi hien cham diem --}}
                                            {{#ifCond scorecommittee_active 1}}
                                            {{#ifCondAnd this.Status 0 this.IsActive 1}}
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                                title="Chấm điểm">
                                                <div class="box_icon-isCommittee">
                                                    <a style="text-decoration: none;"
                                                        href="/scoreFile/createScoreFile?productId={{this.Product_id}}&productgroupId={{this.productgroup_id}}&scoreCommitteeId={{this.ScoreCommitee_id}}&_id={{this._id}}">
                                                        <ion-icon name="ribbon-outline"></ion-icon>
                                                    </a>
                                                </div>
                                            </span>
                                            {{/ifCondAnd}}
                                            {{/ifCond}}
                                            {{!-- cham xong thi moi dc hien nut xac nhan --}}
                                            {{#ifCond this.Status 1}}
                                            <button style="background: transparent; border: none;"
                                                class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                                title="Xác nhận" onclick="handleUpdateStatus('{{this._id}}')">
                                                <ion-icon name="checkbox-outline"></ion-icon>
                                            </button>
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                                title="Chỉnh sửa">
                                                <a style="text-decoration: none;"
                                                    href="/scoreFile/updateScoreFile?productId={{this.Product_id}}&productgroupId={{this.productgroup_id}}&ScoreFile_id={{this._id}}">
                                                    <ion-icon name="create-outline"></ion-icon>
                                                </a>
                                            </span>
                                            {{/ifCond}}
                                            {{!-- xac nhan xong thi moi xem dc chi tiet --}}
                                            {{#ifCond this.Status 2}}
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                                title="Xem chi tiết">
                                                <a
                                                    href="/scoreFile/reviewPage?productId={{this.Product_id}}&ScoreFile_id={{this._id}}&scorecommitee={{this.ScoreCommitee_id}}">
                                                    <ion-icon name="eye-outline"></ion-icon>
                                                </a>
                                            </span>
                                            {{/ifCond}}
                                            {{#ifCond this.Status 1}}
                                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                                title="Chấm lại">
                                                <ion-icon style="" class="icon_moveToTrash" name="trash-outline"
                                                    data-id="{{this._id}}"></ion-icon>
                                            </span>
                                            {{/ifCond}}
                                            {{!-- {{/ifCondNot}} --}}
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
<script src=" https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/scorefile/checkisCommittee.js"></script>
<script src="/assets/js/scorefile/ResultScoreFile.js"></script>
<script src="/assets/js/scorefile/SendToProvince.js"></script>
{{!-- actions xoa --}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toastData = localStorage.getItem('toast');
        if (toastData) {
            const toast = JSON.parse(toastData);
            $.toast(toast);
            localStorage.removeItem('toast');
        }
        const btnTrash = document.querySelectorAll('.icon_moveToTrash');
        for (let btn of btnTrash) {
            btn.addEventListener("click", (event) => {
                event.preventDefault();
                $.confirm({
                    title: '<ion-icon name="trash-bin-outline"></ion-icon>',
                    content: 'Bạn có chắc chắn muốn xóa ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-red',
                            action: async function () {
                                // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                                const id = event.target.dataset.id;
                                const response = await fetch(`/scorefile/remove/${id}`, {
                                    method: "PATCH"
                                })
                                if (!response.ok) {
                                    alert("Có lỗi xảy ra , vui lòng thử lại!")
                                }
                                localStorage.setItem('toast', JSON.stringify({
                                    position: "top-right",
                                    heading: 'SUCCESS!',
                                    text: 'Đã xóa thành công!',
                                    icon: 'success',
                                    loader: true,
                                    loaderBg: '#9EC600',
                                    stack: 4
                                }));
                                window.location.reload()
                            }
                        },
                        cancel: function () {
                            $.alert('Đã hủy!');
                        }
                    }
                });
            });
        }
    })
</script>
{{!-- xac nhan phieu --}}
<script>
    async function handleUpdateStatus(idScoreFile) {

        $.confirm({
            title: '<ion-icon name="help-circle-outline"></ion-icon>',
            content: 'Xác nhận nộp phiếu?',
            buttons: {
                confirm: {
                    text: 'Confirm',
                    btnClass: 'btn-blue',
                    action: async function () {
                        const formScoreFile = {
                            Status: 2
                        }
                        const response = await fetch(`/scorefile/updateStatus/${idScoreFile}`, {
                            method: "PATCH",
                            body: JSON.stringify(formScoreFile),
                            headers: {
                                "Content-Type": "application/json"
                            }
                        })
                        if (!response.ok) {
                            console.log("Lỗi khi cập nhật status scorefile")
                            return
                        }
                        localStorage.setItem('toast', JSON.stringify({
                            position: "top-right",
                            heading: 'SUCCESS!',
                            text: 'Đã nộp phiếu chấm.',
                            icon: 'success',
                            loader: true,
                            loaderBg: '#9EC600',
                            showHideTransition: 'slide',
                            stack: 4
                        }));
                        window.location.reload()
                    }
                },
                cancel: function () {
                    $.alert('Đã hủy!');
                }
            }
        });
    }


</script>
<script>
</script>