<style>
  .listGallery {
    display: flex;
    flex-direction: column;
    align-items: start;
  }


  .activeTabs {
    background-color: #333333;
    color: white;
  }

  .file-item a {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 1180px) {
    .modal-content {
      min-width: 750px !important;
      height: auto;
      overflow-y: auto;
    }

    #myTable {
      font-size: 12px !important;
      width: 100%;
    }


    .row-content {
      height: auto !important;
    }

    .form-row {
      margin-bottom: 80px;
    }

    .file-upload {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width:1180px) {
    .codeColumn {
      display: none !important;
    }

    .modal-content {
      min-width: 1000px !important;
    }

  }

  .form-row>.col,
  .form-row>[class*=col-] {
    padding-left: 19px !important;
  }
</style>
{{> header}}
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row" style="max-width: 100%; display: contents;">
      <ul class="search-customer"
        style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
        <button class="btn btn-danger btnDeleteAll btnDisabled" style="float: left;">Xóa mục đã chọn</button>
        <div class="import_customer_button"
          style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
          <button class="btn btn-info" id="buttonAddProduct" data-toggle="modal" data-target="#exampleModalAdd">Thêm
            mới</button>
        </div>
        {{> modalProduct}}
      </ul>
      </li>
      </ul>
    </div>
  </div>
  <!-- End container-fluid-->

  <div class="row" style="display: contents;">
    <div class="col-lg-6" style="max-width: 100%;">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items">
            <h5 class="card-title">Danh sách sản phẩm</h5>
            <span class="d-inline-block ml-3" tabindex="0" data-toggle="tooltip" title="Thùng rác của bạn">
              <a href="/product-manage/trash">
                <ion-icon name="trash-outline">
                </ion-icon>
              </a>
            </span>
          </div>
          {{#ifCond User.DistrictId null}}
          <div class="row">
            <div style="max-width: 200px;margin-bottom: -40px;position: relative;z-index: 99;cursor: pointer;"
              class="col-2">
              <label for="">Lọc theo: Quận / Huyện</label>
              <select name="" id="productDistrictFilter" class="form-control selectpicker" data-live-search="true">
                <option value="" style="">Tất cả</option>
                {{#each District}}
                <option value="{{this._id}}">{{this.Name}}
                </option>
                {{/each}}
              </select>
            </div>
            {{!-- <div style="max-width: 200px;margin-bottom: -40px;position: relative;z-index: 99;cursor: pointer;"
              class="col-2">
              <label for="">Năm đánh giá</label>
              <select name="" id="productYearFilter" class="form-control selectpicker" data-live-search="true">
                <option value="" style="">Tất cả</option>
                {{#each Review}}
                <option value="{{this._id}}">{{this.yearName}}
                </option>
                {{/each}}
              </select>
            </div> --}}
          </div>
          {{/ifCond}}
          <div class="table-responsive">
            <table id="myTableFilterProduct" class="table datatables table-bordered table-hover table-striped">
              <thead>
                <tr>
                  <th>
                    <div class="checkbox" {{#ifCond Product.length 0}}hidden{{/ifCond}}>
                      <div class="checkbox-wrapper-42 checkbox">
                        <input id="checkAll" type="checkbox" class="check" />
                        <label class="cbx" for="checkAll"></label>
                      </div>
                    </div>
                  </th>
                  <th hidden>DistrictId</th>
                  <th hidden>YearId</th>
                  <th scope="col" style="display: none;">Mã sản phẩm</th>
                  <th scope="col" style="max-width: 50px;"></th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Nhóm sản phẩm</th>
                  <th scope="col" style="max-width: 100px;">Năm đánh giá</th>
                  <th scope="col" style="max-width: 100px;">Trạng thái</th>
                  <th scope="col" style="max-width: 100px;">Hành động</th>
                </tr>
              </thead>
              <tbody>
                {{#each Product}}
                <tr>
                  <td>
                    <div class="checkbox-wrapper-42 checkbox">
                      <input id="cbx-42{{this._id}}" type="checkbox" class="check" data-idCheckBox="{{this._id}}" />
                      <label class="cbx" for="cbx-42{{this._id}}"></label>
                    </div>
                  </td>
                  <td hidden>{{this.DistrictId}}</td>
                  <td hidden>{{this.YearId}}</td>
                  <td style="max-width: 70px;">
                    <img style="width: 50px;height: 50px;border-radius: 50%;border: 1px solid #ccc;"
                      src="{{this.Avatar}}" alt="">
                  </td>
                  <td class="codeColumn" style="display: none;">{{this.Code}}</td>
                  <td style="max-width: 250px;">
                    <div style="display: flex;flex-direction: column;">
                      <p onclick="handleProductDetail('{{this._id}}')" class="text-hightlight"
                        style="font-size: 14px;cursor: pointer;" data-toggle="modal"
                        data-target="#exampleModalDetail{{this._id}}">{{this.Name}}</p>
                      {{#ifCond customer_IsDeleted 0}}
                      <p style="color: #B5B5C3; font-weight: 550;text-wrap: wrap;font-weight: 700">
                        {{this.customer_name}}</p>
                      {{else}}
                      <p class="text-hightlight" style="">Không xác định</p>
                      {{/ifCond}}
                    </div>
                  </td>
                  {{#ifCond productgroup_IsDeleted 0}}
                  <td style="max-width: 150px;">
                    <p class="text-overhidden" style="word-break: break;">
                      {{this.productGroup_name}}
                    </p>
                  </td>
                  {{else}}
                  <td class="text-hightlight" style="">Không xác định</td>
                  {{/ifCond}}
                  {{#ifCond yearreview_IsDeleted 0}}
                  <td style="max-width: 100px;">
                    <p>{{this.yearName}}</p>
                  </td>
                  {{else}}
                  <td class="text-hightlight" style="">Không xác định</td>
                  {{/ifCond}}
                  {{#ifCond this.Status 1}}
                  <td>
                    <p class=" statusLabelSuccess" for="" style="">Đã duyệt</p>
                  </td>
                  {{else}}
                  <td>
                    <p class="statusLabelDanger" for="" style="">Chờ duyệt</p>
                  </td>
                  {{/ifCond}}
                  {{!-- icons --}}
                  <td scope="row">
                    <div class="" style="display: flex;gap: 10px;">
                      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Chỉnh sửa">
                        <ion-icon name="create-outline" data-toggle="modal"
                          data-target="#exampleModal{{this._id}}"></ion-icon>
                      </span>
                      {{> modalProduct ProductGroup=../ProductGroup Customer=../Customer Review=../Review
                      District=../District User=../User}}
                      {{!-- icon eye --}}
                      <span onclick="handleProductDetail('{{this._id}}')" class="d-inline-block" tabindex="0"
                        data-toggle="tooltip" title="Xem chi tiết">
                        <ion-icon name="eye-outline" data-toggle="modal"
                          data-target="#exampleModalDetail{{this._id}}"></ion-icon>
                      </span>
                      {{!-- icon duyet --}}
                      {{#ifCondAnd this.Status 0 ../User.RoleId 1}}
                      {{#ifCond this.IsActive 1}}
                      <span onclick="handleProductStatus('{{this._id}}')" class="d-inline-block" tabindex="0"
                        data-toggle="tooltip" title="Duyệt">
                        <ion-icon name="checkbox-outline"></ion-icon>
                      </span>
                      {{/ifCond}}
                      {{/ifCondAnd}}
                      {{!-- icon xoa --}}
                      <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Xóa">
                        <ion-icon id="icon_moveToTrash" name="trash-outline" data-id="{{this._id}}">
                        </ion-icon>
                      </span>
                      {{!-- modal xem chi tiet --}}
                      {{> modalReviewProduct}}
                    </div>
                  </td>
                  {{!-- end icons --}}
                </tr>
                {{/each }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div><!--End Row-->
  </div>
  <!--End content-wrapper-->
  {{> footer}}


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/assets/js/custom.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  {{!-- checkbox --}}
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
    // checkbox All
    $("#checkAll").click(function (e) {
      $(".check").prop('checked', $(this).prop('checked'));
    });
  </script>
  {{!-- actions --}}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const toastData = localStorage.getItem('toast');
      if (toastData) {
        const toast = JSON.parse(toastData);
        $.toast(toast);
        localStorage.removeItem('toast');
      }
      const btnTrash = document.querySelectorAll("#icon_moveToTrash");
      //remove One
      for (let btn of btnTrash) {
        btn.addEventListener("click", (event) => {
          $.confirm({
            title: '<ion-icon name="trash-bin-outline"></ion-icon>',
            content: 'Bạn có chắc chắn muốn xóa ?',
            buttons: {
              confirm: {
                text: 'Confirm',
                btnClass: 'btn-red',
                action: function () {
                  // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                  const id = event.target.dataset.id;

                  // Gọi API xóa mục
                  fetch(`/product-manage/removeToTrash/${id}`, {
                    method: 'DELETE'
                  }).then(response => {
                    if (response.ok) {
                      localStorage.setItem('toast', JSON.stringify({
                        position: "top-right",
                        heading: 'Xóa thành công',
                        text: 'Đã xóa thành công thành công',
                        icon: 'success',
                        loader: true,
                        loaderBg: '#9EC600',
                        showHideTransition: 'slide',
                        stack: 4
                      }));
                      window.location.reload()
                    } else {
                      alert('Có lỗi xảy ra khi xóa mục');
                    }
                  }).catch(error => {
                    $.alert('Đã hủy');
                  });
                }
              },
              cancel: function () {
                $.alert('Đã hủy!');
              }
            }
          });
        })
      }
      const btnsCheck = document.querySelectorAll(".check")
      const btnDeleteAll = document.querySelector(".btnDeleteAll")
      const btnDisabled = document.querySelector(".btnDisabled")
      // khong checked thi se disabled nut
      let count = 0
      const checkBtnDisabled = () => {
        if (count === 0) {
          btnDisabled.setAttribute("disabled", true)
        } else {
          btnDisabled.removeAttribute("disabled")
        }
      }
      for (let checked of btnsCheck) {
        checkBtnDisabled()
        checked.addEventListener("click", (e) => {
          if (checked.checked) {
            count++
          } else {
            count--
          }
          checkBtnDisabled()
        })
      }
      //removeAll
      btnDeleteAll.addEventListener("click", async (e) => {
        $.confirm({
          title: '<ion-icon name="trash-bin-outline"></ion-icon>',
          content: 'Xác nhận xóa những đối tượng bạn đã chọn ?',
          buttons: {
            confirm: {
              text: 'Confirm',
              btnClass: 'btn-red',
              action: async function () {
                const arrId = []
                for (let btnCheck of btnsCheck) {
                  if (btnCheck.checked) {
                    const id = btnCheck.dataset.idcheckbox
                    arrId.push(id)
                  }
                }
                await fetch(`/product-manage/removeToTrashAll`, {
                  method: 'POST',
                  body: JSON.stringify(arrId),
                  headers: {
                    "Content-Type": "application/json"
                  }
                })
                localStorage.setItem('toast', JSON.stringify({
                  position: "top-right",
                  heading: 'Xóa thành công',
                  text: 'Đã xóa thành công thành công',
                  icon: 'success',
                  loader: true,
                  loaderBg: '#9EC600',
                  showHideTransition: 'slide',
                  stack: 4
                }));
                window.location.reload()
              }
            },
            cancel: function () {
              $.alert('Đã hủy');
            }
          }
        });
      })
    })
  </script>
  {{!-- upload anh --}}
  <script>
    function onclickImage(Id) {
      console.log(`avatarPreview` + Id)
      const img = document.getElementById('avatar' + Id)
      const imagePreview = document.getElementById(`avatarPreview${Id}`)
      console.log(imagePreview)
      img.click();
      // change ảnh khi chọ
      img.addEventListener('change', function () {
        if (img.files && img.files[0]) {
          const reader = new FileReader();
          reader.onload = function (e) {
            imagePreview.src = e.target.result;
          };
          reader.readAsDataURL(img.files[0]);
        }
      });
    }
  </script>
  {{!-- Actions duyet san pham --}}
  <script>
    function handleProductStatus(productId) {
      const CreatorUser_id = document.getElementById("CreatorUser_id").value
      $.confirm({
        title: '<ion-icon name="checkmark-circle-outline"></ion-icon>',
        content: 'Duyệt sản phẩm ?',
        buttons: {
          confirm: {
            text: 'Duyệt',
            btnClass: 'btn-blue',
            action: async function () {

              const product = {
                Status: 1
              }
              // Lấy ID của mục cần duyệt từ thuộc tính data-id của nút
              const res = await fetch(`/product-manage/updateStatus/${productId}`, {
                method: 'PATCH',
                body: JSON.stringify(product),
                headers: {
                  "Content-Type": "application/json"
                }
              })
              //object productId de tao scoreFile
              const formScoreFile = {
                Product_id: Number(productId),
                CreatorUser_id: Number(CreatorUser_id),
              }
              const resScoreFile = await fetch(`/scoreFile/add`, {
                method: 'POST',
                body: JSON.stringify(formScoreFile),
                headers: {
                  "Content-Type": "application/json"
                }
              })
              localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'SUCCESS!',
                text: 'Đã duyệt thành công thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
              }));
              window.location.reload()
            }
          },
          cancel: function () {
            $.alert('Đã hủy!');
          }
        }
      });
    }
  </script>
  {{!-- getOneProduct and productDetail --}}
  <script src="/assets/js/getOneProduct.js"></script>
  {{!-- show productDetail --}}
  <script src="/assets/js/showProductDetail.js"></script>
  {{!-- Gallery --}}
  <script src="/assets/js/addGallery.js"></script>
  {{!-- updateProduct --}}
  <script src="/assets/js/updateProduct.js"></script>