{{> header}}
<div class="content-wrapper" style="height: 100vh;">
    <div class="container-fluid">
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;padding: 0;">
            </ul>
            </li>
            </ul>
        </div>
    </div>

    <div class="row" style="display: contents;">
        <div class="col-lg-6" style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items">
                        <h5 class="card-title">Danh sách sản phẩm</h5>
                        <span class="d-inline-block ml-3" tabindex="0" data-toggle="tooltip" title="Thùng rác của bạn">
                            <a href="/scorefile/trash">
                                <ion-icon name="trash-outline">
                                </ion-icon>
                            </a>
                        </span>
                    </div>
                    <table id="myTable" class="table datatables table-bordered table-hover table-striped"
                        style="font-size: 13px">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>

                                    Sản phẩm</th>
                                <th>Nhóm sản phẩm</th>
                                <th>Tổng điểm</th>
                                <th>Xếp hạng</th>
                                <th>Ngày chấm</th>
                                <th>Trạng thái</th>
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <tbody>
                            {{#each ScoreFile}}
                            {{!-- Chua cham --}}
                            <tr>
                                <td>
                                    <div class="approved">
                                        <img src="{{this.product_avatar}}" alt=""
                                            style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;">
                                    </div>
                                </td>
                                <td>
                                    <ul style="list-style-type: none;font-weight: 600;padding: 0;">
                                        <!-- name product -->
                                        <li style="font-size: 14px;color: rgb(236, 236, 118);" data-toggle="modal"
                                            data-target="#exampleModal">
                                            {{this.product_name}}
                                        </li>
                                        <p style="color: #B5B5C3;font-size: 13px;text-wrap: wrap;" class="nameProduct">
                                            Chủ thể: {{toUpperCase this.customer_name}}
                                        </p>
                                    </ul>
                                </td>
                                <!-- product group -->
                                <td style="text-wrap: wrap;">Nhóm 19: {{this.productgroup_name}}
                                </td>
                                {{!-- tong diem --}}
                                <td>
                                    {{#ifCond this.ScoreTotal 0}}
                                    {{else}}
                                    <p style="font-weight: 600;text-align: center;color: rgb(236, 236, 118)">
                                        {{this.ScoreTotal}}</p>
                                    {{/ifCond}}

                                </td>
                                <!-- so sao -->
                                <td>
                                    {{#repeat this.RankOcop}}
                                    <ion-icon name="star"></ion-icon>
                                    {{/repeat}}
                                </td>
                                {{!-- Ngay cham --}}
                                <td>
                                    {{#if this.formattedScoreDate}}
                                    {{this.formattedScoreDate}}
                                    {{/if}}
                                </td>
                                {{!-- Trang thai --}}
                                <td>
                                    {{#ifCond this.Status 0}}
                                    <p class="statusLabelDanger">Chưa chấm</p>
                                    {{/ifCond}}
                                    {{#ifCond this.Status 1}}
                                    <p class="statusLabelSuccess">Đã chấm</p>
                                    {{/ifCond}}
                                    {{#ifCond this.Status 2}}
                                    <p class="statusLabelSuccess">Đã nộp phiếu</p>
                                    {{/ifCond}}
                                    {{!-- <p>{{User.RoleId}}</p> --}}
                                <td>
                                    {{#ifCond ../User.RoleId 1}}
                                    {{!-- icon xem ket qua hoi dong --}}
                                    <button onclick="handleResultScoreFiles('{{this.scorecommitee_id}}')"
                                        style="background: transparent;border: none;" class="d-inline-block"
                                        tabindex="0" data-toggle="tooltip" title="Xem kết quả hội đồng">
                                        <ion-icon name="receipt-outline" data-toggle="modal"
                                            data-target="#modalResultsScoreFile{{this._id}}"></ion-icon>
                                    </button>
                                    {{> modalResultScoreFile id=this._id}}
                                    {{else}}


                                    {{!-- Neu da cham thi hien icon xac nhan va chinh sua--}}
                                    {{#ifCond this.Status 1}}
                                    {{!-- icon xac nhan--}}
                                    <button style="background: transparent;border: none;" class="d-inline-block"
                                        tabindex="0" data-toggle="tooltip" title="Xác nhận"
                                        onclick="handleUpdateStatus('{{this._id}}')">
                                        <ion-icon name="checkbox-outline"></ion-icon>
                                    </button>
                                    {{!-- icon chinh sua --}}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Chỉnh sửa">
                                        <a style="text-decoration: none;"
                                            href="/scoreFile/updateScoreFile?productId={{this.Product_id}}&code={{this.productgroup_code}}&ScoreFile_id={{this._id}}">
                                            <ion-icon name="create-outline"></ion-icon>
                                        </a>
                                    </span>
                                    {{/ifCond}}

                                    {{!-- Nếu status = 2 thì có thể xem phiếu chấm của họ --}}
                                    {{#ifCond this.Status 2}}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Xem chi tiết">
                                        <a
                                            href="/scoreFile/reviewPage?productId={{this.Product_id}}&code={{this.productgroup_code}}&ScoreFile_id={{this._id}}">
                                            <ion-icon name="eye-outline"></ion-icon>
                                        </a>
                                    </span>
                                    {{/ifCond}}
                                    {{!-- Neu User ma co trong hoi dong thi moi cho cham diem --}}
                                    {{!-- icon cham diem --}}
                                    {{#ifCond this.Status 0}}
                                    {{!-- <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Chấm điểm"> --}}
                                        <div class="box_icon-isCommittee" data-id="{{this._id}}"
                                            data-idCommittee="{{this.ScoreCommitee_id}}" data-UserId="{{../User._id}}"
                                            data-ProductId="{{this.Product_id}}"
                                            data-productGroupCode="{{this.productgroup_code}}">
                                        </div>
                                        {{!--
                                    </span> --}}
                                    {{/ifCond}}
                                    {{#ifCond this.IsCommittee 1}}
                                    {{#ifCond this.Status 1}}
                                    {{!-- icon xoa--}}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Chuyển vào thùng rác">
                                        <ion-icon style="" class="icon_moveToTrash" name="trash-outline"
                                            data-id="{{this._id}}">
                                        </ion-icon>
                                    </span>
                                    {{/ifCond}}
                                    {{/ifCond}}
                                    {{/ifCond}}
                                    {{!-- admin moi co quyen xem ket qua hoi dong --}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <!-- table -->
                    {{!-- {{> modalMarkPage}} --}}
                    <!-- table -->
                </div>
            </div>
        </div><!--End Row-->
    </div>
</div><!--End content-wrapper-->
{{> footer}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script src="/assets/js/scorefile/checkisCommittee.js"></script>
<script src="/assets/js/scorefile/ResultScoreFile.js"></script>
{{!-- actions xoa --}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toastData = localStorage.getItem('toast');
        if (toastData) {
            const toast = JSON.parse(toastData);
            $.toast(toast);
            localStorage.removeItem('toast');
        }
        const btnTrash = document.querySelectorAll('.icon_moveToTrash');
        for (let btn of btnTrash) {
            btn.addEventListener("click", (event) => {
                event.preventDefault();
                $.confirm({
                    title: '<ion-icon name="trash-bin-outline"></ion-icon>',
                    content: 'Bạn có chắc chắn muốn xóa ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-red',
                            action: function () {
                                // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                                const id = event.target.dataset.id;

                                // Gọi API xóa mục
                                fetch(`/scoreFile/removeToTrash/${id}`, {
                                    method: 'PATCH'
                                }).then(response => {
                                    if (response.ok) {
                                        localStorage.setItem('toast', JSON.stringify({
                                            position: "top-right",
                                            heading: 'Xóa thành công',
                                            text: 'Đã xóa thành công thành công',
                                            icon: 'success',
                                            loader: true,
                                            loaderBg: '#9EC600',
                                            showHideTransition: 'slide',
                                            stack: 4
                                        }));
                                        window.location.reload()
                                    } else {
                                        localStorage.setItem('toast', JSON.stringify({
                                            position: "top-right",
                                            heading: 'Xóa không thành công',
                                            text: 'Đã xảy ra lỗi khi xóa mục',
                                            icon: 'error',
                                            loader: true,
                                            loaderBg: '#9EC600',
                                            showHideTransition: 'slide'
                                        }));
                                    }
                                }).catch(error => {
                                    $.alert('Đã hủy');
                                });
                            }
                        },
                        cancel: function () {
                            $.alert('Đã hủy!');
                        }
                    }
                });
            });
        }
    })
</script>
{{!-- xac nhan phieu --}}
<script>
    async function handleUpdateStatus(idScoreFile) {

        $.confirm({
            title: '<ion-icon name="help-circle-outline"></ion-icon>',
            content: 'Xác nhận nộp phiếu?',
            buttons: {
                confirm: {
                    text: 'Confirm',
                    btnClass: 'btn-blue',
                    action: async function () {
                        const formScoreFile = {
                            Status: 2
                        }
                        const response = await fetch(`/scorefile/updateStatus/${idScoreFile}`, {
                            method: "PATCH",
                            body: JSON.stringify(formScoreFile),
                            headers: {
                                "Content-Type": "application/json"
                            }
                        })
                        if (!response.ok) {
                            console.log("Lỗi khi cập nhật status scorefile")
                            return
                        }
                        localStorage.setItem('toast', JSON.stringify({
                            position: "top-right",
                            heading: 'SUCCESS!',
                            text: 'Đã nộp phiếu chấm.',
                            icon: 'success',
                            loader: true,
                            loaderBg: '#9EC600',
                            showHideTransition: 'slide',
                            stack: 4
                        }));
                        window.location.reload()
                    }
                },
                cancel: function () {
                    $.alert('Đã hủy!');
                }
            }
        });
    }
</script>