{{> header}}

<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
                <button class="btn btn-danger btnDeleteAll btnDisabled" style="float: left;">Xóa mục đã chọn</button>
                <div class="import_customer_button"
                    style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
                    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Thêm mới</button>
                </div>
                {{> modalWorkDepartment}}
            </ul>
            </li>
            </ul>
        </div>
    </div>
    {{!-- body --}}
    <div class="row" style="display: contents;">
        <div class="col-lg-6" style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items">
                        <h5 class="card-title">Danh sách phòng ban</h5>
                        <span class="d-inline-block ml-3" tabindex="0" data-toggle="tooltip" title="Thùng rác của bạn">
                            <a href="/workDepartment/trash">
                                <ion-icon name="trash-outline">
                                </ion-icon>
                            </a>
                        </span>
                    </div>
                    <div class="table-responsive">
                        <table id="myTable" class="table datatables table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th {{#ifCond workDepartment.length 0}}hidden{{/ifCond}}>
                                        <div class="checkbox-wrapper-42 checkbox">
                                            <input id="checkAll" type="checkbox" class="check" />
                                            <label class="cbx" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th hidden>#</th>
                                    {{!-- <th>Code</th> --}}
                                    <th>Tên phòng ban</th>
                                    <th>Mô tả phòng ban</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each workDepartment}}
                                <tr>
                                    <td>
                                        <div class="checkbox-wrapper-42 checkbox">
                                            <input id="cbx-42{{this._id}}" type="checkbox" class="check"
                                                data-idCheckBox="{{this._id}}" />
                                            <label class="cbx" for="cbx-42{{this._id}}"></label>
                                        </div>
                                    </td>
                                    <td hidden>{{@index}}</td>
                                    {{!-- <td>{{this.code}}</td> --}}
                                    <td style="max-width: 250px;">
                                        <p style="text-wrap: wrap;">{{this.title}}</p>
                                    </td>
                                    <td>{{this.description}}</td>
                                    <td scope="row">
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                            title="Chỉnh sửa">
                                            <ion-icon name="create-outline" data-toggle="modal"
                                                data-target="#exampleModal{{this._id}}"></ion-icon>
                                        </span>
                                        {{> modalWorkDepartment}}
                                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Xóa">
                                            <ion-icon id="icon_moveToTrash" name="trash-outline" data-id="{{this._id}}">
                                            </ion-icon>
                                        </span>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="9" class="text-center">Không tìm thấy từ khoá nào</td>
                                </tr>
                                {{/each }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--End Row-->
    </div>
    <!-- End container-fluid-->
</div><!--End content-wrapper-->
{{> footer}}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/custom.js"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
    // checkbox All
    $("#checkAll").click(function (e) {
        $(".check").prop('checked', $(this).prop('checked'));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toastData = localStorage.getItem('toast');
        if (toastData) {
            const toast = JSON.parse(toastData);
            $.toast(toast);
            localStorage.removeItem('toast');
        }
        const btnTrash = document.querySelectorAll("#icon_moveToTrash");
        //remove One
        for (let btn of btnTrash) {
            btn.addEventListener("click", (event) => {
                event.preventDefault();
                $.confirm({
                    title: '<ion-icon name="trash-bin-outline"></ion-icon>',
                    content: 'Bạn có chắc chắn muốn xóa ?',
                    buttons: {
                        confirm: {
                            text: 'Confirm',
                            btnClass: 'btn-red',
                            action: function () {
                                // Lấy ID của mục cần xóa từ thuộc tính data-id của nút
                                const id = event.target.dataset.id

                                // Gọi API xóa mục
                                fetch(`/workDepartment/removeToTrash/${id}`, {
                                    method: 'DELETE'
                                }).then(response => {
                                    if (response.ok) {
                                        localStorage.setItem('toast', JSON.stringify({
                                            position: "top-right",
                                            heading: 'Xóa thành công',
                                            text: 'Đã xóa thành công thành công',
                                            icon: 'success',
                                            loader: true,
                                            loaderBg: '#9EC600',
                                            showHideTransition: 'slide'
                                        }));
                                        window.location.reload()
                                    } else {
                                        localStorage.setItem('toast', JSON.stringify({
                                            position: "top-right",
                                            heading: 'Xóa không thành công',
                                            text: 'Đã xảy ra lỗi khi xóa mục',
                                            icon: 'error',
                                            loader: true,
                                            loaderBg: '#9EC600',
                                            showHideTransition: 'slide'
                                        }));
                                    }
                                }).catch(error => {
                                    localStorage.setItem('toast', JSON.stringify({
                                        position: "top-right",
                                        heading: 'Xóa không thành công',
                                        text: 'Đã xảy ra lỗi khi xóa mục',
                                        icon: 'error',
                                        loader: true,
                                        loaderBg: '#9EC600',
                                        showHideTransition: 'slide'
                                    }));
                                });
                            }
                        },
                        cancel: function () {
                            $.alert('Đã hủy!');
                        }
                    }
                });
            });
        }
        const btnsCheck = document.querySelectorAll(".check")
        const btnDeleteAll = document.querySelector(".btnDeleteAll")
        const btnDisabled = document.querySelector(".btnDisabled")
        // khong checked thi se disabled nut
        let count = 0
        const checkBtnDisabled = () => {
            if (count === 0) {
                btnDisabled.setAttribute("disabled", true)
            } else {
                btnDisabled.removeAttribute("disabled")
            }
        }
        for (let checked of btnsCheck) {
            checkBtnDisabled()
            checked.addEventListener("click", (e) => {
                if (checked.checked) {
                    count++
                } else {
                    count--
                }
                checkBtnDisabled()
            })
        }
        //removeAll
        btnDeleteAll.addEventListener("click", async (e) => {
            $.confirm({
                title: '<ion-icon name="trash-bin-outline"></ion-icon>',
                content: 'Xác nhận xóa những đối tượng bạn đã chọn ?',
                buttons: {
                    confirm: {
                        text: 'Confirm',
                        btnClass: 'btn-red',
                        action: async function () {
                            const arrId = []
                            for (let btnCheck of btnsCheck) {
                                if (btnCheck.checked) {
                                    const id = btnCheck.dataset.idcheckbox
                                    arrId.push(id)
                                }
                            }
                            await fetch(`/workDepartment/removeToTrashAll`, {
                                method: 'POST',
                                body: JSON.stringify(arrId),
                                headers: {
                                    "Content-Type": "application/json"
                                }
                            })
                            localStorage.setItem('toast', JSON.stringify({
                                position: "top-right",
                                heading: 'Xóa thành công',
                                text: 'Đã xóa thành công thành công',
                                icon: 'success',
                                loader: true,
                                loaderBg: '#9EC600',
                                showHideTransition: 'slide'
                            }));
                            window.location.reload()
                        }
                    },
                    cancel: function () {
                        $.alert('Đã hủy');
                    }
                }
            });
        })
    })
</script>